.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  height: 90vh;
  max-height: 100vh;

  .main-component {
    input {
      border: white;
      border-bottom: 2px solid #d8d8d8;
      border-radius: unset;
      font-size: 15px;
      font-weight: 500;
    }

    .ant-input:focus {
      outline: white !important;
      box-shadow: none;
    }

    .welcome-title {
      padding-left: 127px !important;
      font-size: 24px !important;
      font-weight: bolder !important;
    }

    .title {
      display: flex;
      align-items: center;
      //   justify-content: center;
      font-family: var(--montserrat-font);
      color: #000;
      margin-left: 90px;
      margin-bottom: 55px;

      img {
        width: 120px;
      }
    }

    .password-input {
      margin-top: -2%;

      input {
        width: 300px;
      }
    }

    .login-button {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .ant-card-body {
      padding: 40px !important;
      transition: all .2s linear;
      border-bottom: -30px;
    }

    .ant-card-bordered {
      border: none !important;
    }

    .user-create {
      span {
        color: #000;
      }
    }
  }

  .login-form {
    max-width: 500px;
    margin-top: 1rem;
  }

  .login-form-button {
    height: 38px;
    border-radius: 19px;
    color: white;
    box-shadow: 0 0 0 2px rgba(82, 116, 251, 0.18);
    background-color: #364FB3;
    margin: 5px;
  }
}