.slider {
  height: 100vh;
  background: white;

  .logo {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    background: white;

    .firstLetter {
      color: #e53935;
      font-size: 20px;
    }

    .lastLetter {
      font-size: 18px;
      font-style: italic;
      color: #e53935;
    }
  }
}
.siteLayout {
  background-color: #ffffff;
  margin: 0;

  .header {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    padding: 15px;

    .siderChild {
      text-align: left;
      display: flex;

      .nameOfContent {
        p {
          text-align: left;
          font-weight: 500;
          font-size: 18px;
          letter-spacing: 0px;
          color: #222222;
          text-transform: uppercase;
        }
      }

      .notification {
        position: relative;

        svg {
          width: 25px;
          height: 25px;
          color: #000000;
        }

        .notificationCount {
          position: absolute;
          top: 10px;
          right: 0;
          width: 11px;
          height: 11px;
          background: #ff0600 0% 0% no-repeat padding-box;
          border-radius: 7px;
        }
      }

      .imageLogo {
        width: 43px;
        height: 43px;
        background: #e53935 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 7px #e53935;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 39px;
          height: 39px;
          border-radius: 20px;
          background: transparent 0% 0% no-repeat padding-box;
        }
      }
    }
  }
}
