.apexcharts-toolbar {
  display: none !important;
}

.ant-tabs-tab.ant-tabs-tab-active {
  border-bottom: 2px solid #F44336 !important;
  color: black !important;
  z-index: 2;
}

.testing {
  border-bottom: 2px solid #F44336 !important;
  color: black !important;
  z-index: 2;
}

.ant-tabs-ink-bar {
  height: 5px;
  background: #F44336 !important;
}


.drop-btn {
  border: 1px solid black;
  border-radius: 40px;
}

.charts-datas {
  display: flex;
  position: absolute;
  right: 330px;
  top: 1205px;

  div {
    margin: 0px 2px ;
  }
}

:where(.css-dev-only-do-not-override-ph9edi).ant-tabs {
  background: rgb(246 246 246);
  padding: 20px;
  border-radius: 9px;
  position: relative;
}

:where(.css-dev-only-do-not-override-ph9edi).ant-tabs .ant-tabs-tab-btn {
  outline: none;
  transition: all 0.3s;
  font-size: 17px;
  color: grey;
}

:where(.css-dev-only-do-not-override-ph9edi).ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #000000;
  font-size: 17px;
  text-shadow: 0 0 0.25px currentcolor;
  font-weight: 400;
}

.header-insight {
  margin: 30px;

  .impres-title {
    text-align: left;
    font: normal normal bold 18px/22px Lato;
    letter-spacing: 0px;
    color: #000000;
  }

  .click-cta {
    text-align: left;
    font: normal normal bold 18px/22px Lato;
    letter-spacing: 0px;
    color: #000000;
  }

  .click-head {
    width: 260px;
    height: 35px;
    background: #F9DEDE 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    align-items: center;
    display: flex;
    justify-content: space-around;

    div:nth-child(1) {
      p {
        font-size: 18px;
        color: #E53935;
        opacity: 1;
      }
    }

    div:nth-child(2) {
      p {
        font-size: 18px;
        color: #000000;
        opacity: 1;
      }
    }

    div:nth-child(3) {
      p {
        font-size: 18px;
        color: #0909DC;
        opacity: 1;
      }
    }

    div:nth-child(4) {
      p {
        font-size: 18px;
        text-align: left;
        letter-spacing: NaNpx;
        opacity: 1;
        font-weight: 500;
      }
    }

  }

  .click-Cta-head {
    width: 260px;
    height: 35px;
    background: #D8DEFC 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    align-items: center;
    display: flex;
    justify-content: space-around;

    div:nth-child(1) {
      p {
        font-size: 18px;
        color: #E53935;
        opacity: 1;
      }
    }

    div:nth-child(2) {
      p {
        font-size: 18px;
        color: #000000;
        opacity: 1;
      }
    }

    div:nth-child(3) {
      p {
        font-size: 18px;
        color: #03781B;
        opacity: 1;
      }
    }

    div:nth-child(4) {
      p {
        font-size: 18px;
        text-align: left;
        letter-spacing: NaNpx;
        opacity: 1;
        font-weight: 500;
      }
    }

  }
}

.download-icons {
  font-size: 18px;
  color: #E53935
}

:where(.css-dev-only-do-not-override-ph9edi).ant-spin-nested-loading .ant-spin-container {
  position: relative;
  transition: opacity 0.3s;
  border: 1px solid #1D97FF;
  border-radius: 5px;
}

:where(.css-dev-only-do-not-override-ph9edi).ant-table-wrapper .ant-table-thead>tr>th,
:where(.css-dev-only-do-not-override-ph9edi).ant-table-wrapper .ant-table-thead>tr>td {
  background: #1D97FF;
  color: white;
  border-radius: unset;
}

:where(.css-dev-only-do-not-override-ph9edi).ant-table-wrapper .ant-table-container table>thead>tr:first-child>*:last-child {
  border-start-end-radius: unset;
}

:where(.css-dev-only-do-not-override-ph9edi).ant-table-wrapper .ant-table-container table>thead>tr:first-child>*:first-child {
  border-start-start-radius: unset;
}

:where(.css-dev-only-do-not-override-ph9edi).ant-space-vertical {
  width: 97%;
  flex-direction: column;
}