.report-cards {
	width: 300;
	cursor: pointer;
	border: 1px solid #bab6b6 !important;
	border-radius: 5px !important;
}
.report-cards:hover {
	border: 1px solid #7e7b7b !important;
	background-color: #e4e3e3 !important;
  }
.back-icon {
	cursor: pointer;
}  