.dashboard-head {
  padding: 15px;
  .loader {
    margin-top: 30%;
  }

  .content-name {
    margin-top: 10px;
    font-size: 15px;
    margin-left: 3%;
    font-weight: bold;
    opacity: 0.9;
    text-transform: uppercase;
  }
}
