.dashboard-head {
  .loader {
    margin-top: 30%;
  }

  .content-name {
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #222222;
    margin-left: 3%;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 1000px) {
  .dashboard-head {
    padding: 14px;
  }
}

@media screen and (max-width: 1000px) {
  .dashboard-head {
    padding: 7px;
  }
}
