.dashboard-head {
  padding: 25px;
  .loader {
    margin-top: 30%;
  }

  .content-name {
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #222222;
    margin-left: 3%;
    text-transform: uppercase;
  }
}
