.dashboard-head {
  .loader {
    margin-top: 30%;
  }

  .content-name {
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #222222;
    margin-left: 3%;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 1000px) {
  .dashboard-head {
    padding: 14px;
    .ant-row {
      .ant-col {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .dashboard-head {
    padding: 7px;
    .ant-row {
      display: block;
    }
  }
}
.content-div {
  background-color: #F2F2F2;
  .impression-div {
    height: 20vh;
    width: 20vw;
    border-color: #00000033 ;
    background-color: #FFFFFF;
  }
}
.img-div {
  width: 5px;
}

