.menubar-layout-web {
  .menubar-layout-sider {
    position: fixed;
    z-index: 2;
    flex: 0 0 257px !important;
    max-width: 257px !important;
    min-width: 257px !important
  }

  .menubar-layout-sider-collapsed {
    position: fixed;
    z-index: 2;
    flex: 0 0 82px !important;
    max-width: 82px !important;

    .ant-layout-sider-children {
      .menubar-sider-menu {
        margin-top: 40px;

        .ant-menu-item {
          line-height: 0px !important;
        }

        .ant-menu-submenu-title {
          line-height: 0px !important;
        }
      }
    }
  }

  .menubar-layout-sider,
  .menubar-layout-sider-collapsed {
    .ant-layout-sider-children {
      background: #570026;
      height: 100vh;

      .menubar-layout-sider-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0px;
        cursor: pointer;
      }

      .menubar-sider-menu {
        background: #570026;

        .ant-menu-item {
          height: 22px;
          margin: 25px 0px;

          &:active {
            background: transparent;
          }

          &:hover {
            background: transparent;
          }

          .menuBar-icons {
            opacity: 0.6;
          }

          span {
            margin-inline-start: 30px !important;
          }
        }

        .selections-dropdown {
          .ant-menu-sub {
            height: 128px;
          }
        }

        .settings-dropdown {
          .ant-menu-sub {
            height: 92px;
          }
        }

        .ant-menu-submenu {
          position: relative;

          .ant-menu-submenu-title {
            height: 22px;
            margin-left: 0px;

            &:active {
              background: transparent;
            }

            &:hover {
              background: transparent;
            }

            .menuBar-icons {
              opacity: 0.6;
            }

            span {
              margin-inline-start: 30px !important;
            }
          }

          .ant-menu-sub {
            background: #FFFFFF;
            margin-top: 15px;

            .ant-menu-item {
              border: none;
              font-size: 13px;
              color: #222222;
              margin: 15px 0px;
              padding-left: 26px !important;

              &:hover {
                background: transparent;
              }

              .ant-menu-title-content {}

            }

            .select-border {
              position: absolute;
              top: 37px;
              left: 31px;
            }

            .ant-menu-item-selected {
              color: #C20155;
            }

          }
        }

        .ant-menu-item-selected {
          background: transparent;
          border-radius: 0px;
          border-left: 3px solid #FFFFFF;

          .menuBar-icons {
            opacity: 1;
          }
        }

        .ant-menu-submenu-selected {
          .ant-menu-submenu-title {
            border-radius: 0px;
            border-left: 3px solid #FFFFFF;

            .menuBar-icons {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  .menubar-layout-sub-layout {

    .menubar-laybout-sub-layout-header {
      padding: 0px 40px 0px 282px;
    }

    .menubar-laybout-sub-layout-header-collapsed {
      padding: 0px 40px 0px 107px;
    }

    .menubar-laybout-sub-layout-header,
    .menubar-laybout-sub-layout-header-collapsed {
      position: fixed;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #FFFFFF;
      width: 100%;
      height: 80px;
      z-index: 1;

        .header-collapsed-button {
          padding: 0px;
          width: unset;
          display: flex;
          justify-content: center;
          align-items: center;

          &:hover {
            background: transparent;
          }
        }

      .user-profile {
        width: 33px;
        height: 33px;
        display: flex;
        justify-content: center;
        align-items: center;

        .user-profile-img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          border-radius: 4px;
        }
      }
    }

    .menubar-laybout-sub-layout-content {
      padding: 80px 0px 0px 257px;
      min-height: 100vh;
    }

    .menubar-laybout-sub-layout-content-collapsed {
      padding: 80px 0px 0px 82px;
      min-height: 100vh;
    }

    .menubar-laybout-sub-layout-content,
    .menubar-laybout-sub-layout-content-collapsed {
      background: #F2F2F2;
    }
  }
}
.ant-dropdown{
  width: 426px;
  height: 191px;
  padding: 0px !important;

  .ant-dropdown-menu-submenu .ant-dropdown-menu{
    padding: 0px !important;
  }
  .ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-submenu-title-active{
    background-color: transparent;
  }
  .ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item{
    padding: 0px !important;
  }
  .ant-card{
    width: 426px;
    height: 191px;
    border-radius: 5px;
    position: absolute;
    top: 20%;
    right: -10%;
    .ant-card-head-title{
      height: 42px;
      img{
        height: 39px;
        width: 39px;
      }
      

    }
    .ant-card-extra{
      a{
        font-weight: 700;
        font-size: 15px;
        color: #222222;
      }
    }
    .ant-card-head{
    width: 426px;
    height: 42px;
    border-bottom: 3px solid #F2F2F2;
    border-radius: 10px;
    justify-content: space-between;
    }
    .ant-card-body{
    .image-col{
      img{
        height: 91px;
        width: 91px;
        border-radius: 5px;
      }
    }
    .user-col{
      width: auto;
      .user-div{
        padding-left: 30%;
        .user-name{
          font-weight: 700;
          font-size: 20px;
          color: #222222;
        }
        .user-button-div{
          padding-top: 25%;
          color: #c20155;
          text-decoration: underline;
          font-weight: 700;
          font-size: 14px;
          a{
            color: #c20155;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 600px){
    .ant-card {
     height:100px;
     width: 50px;
    }
  }
  @media only screen and (max-width: 800px) and (min-width: 600px){
    p {
      margin-left: 5%;
     }
  }
  @media only screen and (max-width: 1400px) and (min-width: 800px){
    p {
      margin-left: 3%;
     }
  }

}
}
