.menubar-layout-web {
  .menubar-layout-sider {
    position: fixed;
    z-index: 2;
    flex: 0 0 257px !important;
    max-width: 257px !important;
    min-width: 257px !important
  }

  .menubar-layout-sider-collapsed {
    position: fixed;
    z-index: 2;
    flex: 0 0 82px !important;
    max-width: 82px !important;

    .ant-layout-sider-children {
      .menubar-sider-menu {
        margin-top: 40px;

        .ant-menu-item {
          line-height: 0px !important;
        }

        .ant-menu-submenu-title {
          line-height: 0px !important;
        }
      }
    }
  }

  .menubar-layout-sider,
  .menubar-layout-sider-collapsed {
    .ant-layout-sider-children {
      background: #570026;
      height: 100vh;

      .menubar-layout-sider-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0px;
        cursor: pointer;
      }

      .menubar-sider-menu {
        background: #570026;

        .ant-menu-item {
          height: 22px;
          margin: 25px 0px;

          &:active {
            background: transparent;
          }

          &:hover {
            background: transparent;
          }

          .menuBar-icons {
            opacity: 0.6;
          }

          span {
            margin-inline-start: 30px !important;
          }
        }

        .selections-dropdown {
          .ant-menu-sub {
            height: 128px;
          }
        }

        .settings-dropdown {
          .ant-menu-sub {
            height: 92px;
            .profile-text {              
              color: #C20155 !important;
            }
          }
        }

        .ant-menu-submenu {
          position: relative;

          .ant-menu-submenu-title {
            height: 22px;
            margin-left: 0px;

            &:active {
              background: transparent;
            }

            &:hover {
              background: transparent;
            }

            .menuBar-icons {
              opacity: 0.6;
            }

            span {
              margin-inline-start: 30px !important;
            }
          }

          .ant-menu-sub {
            background: #FFFFFF;
            margin-top: 15px;

            .ant-menu-item {
              border: none;
              font-size: 13px;
              color: #222222;
              margin: 15px 0px;
              padding-left: 26px !important;

              &:hover {
                background: transparent;
              }
            }

            .select-border {
              position: absolute;
              top: 37px;
              left: 31px;
            }

            .ant-menu-item-selected {
              color: #C20155;
            }

          }
        }

        .ant-menu-item-selected {
          background: transparent;
          border-radius: 0px;
          border-left: 3px solid #FFFFFF;

          .menuBar-icons {
            opacity: 1;
          }
        }

        .ant-menu-submenu-selected {
          .ant-menu-submenu-title {
            border-radius: 0px;
            border-left: 3px solid #FFFFFF;

            .menuBar-icons {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  .menubar-layout-sub-layout {

    .menubar-laybout-sub-layout-header {
      padding: 0px 40px 0px 282px;
    }

    .menubar-laybout-sub-layout-header-collapsed {
      padding: 0px 40px 0px 107px;
    }

    .menubar-laybout-sub-layout-header,
    .menubar-laybout-sub-layout-header-collapsed {
      position: fixed;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #FFFFFF;
      width: 100%;
      height: 80px;
      z-index: 1;

      .header-collapsed-button {
        padding: 0px;
        width: unset;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background: transparent;
        }
      }

      .user-profile {
        cursor: pointer;
        width: 33px;
        height: 33px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #F2F2F2;
        border-radius: 4px;

        .user-profile-img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          border-radius: 4px;
        }
      }
    }

    .menubar-laybout-sub-layout-content {
      padding: 80px 0px 0px 257px;
      min-height: 100vh;
    }

    .menubar-laybout-sub-layout-content-collapsed {
      padding: 80px 0px 0px 82px;
      min-height: 100vh;
    }

    .menubar-laybout-sub-layout-content,
    .menubar-laybout-sub-layout-content-collapsed {
      background: #F2F2F2;
    }
  }
}

@media screen and (max-width: 375px) {
  .ant-dropdown {
    box-shadow: 0px 0px 6px #00000029;
    top: 69px !important;
    left: 5px !important;
    .profile-dropdown-mobile {
      width: 309px;
      height: 168px;
      .ant-card-head {
        box-shadow: 0px 0px 6px #00000029;
        min-height: 37px !important;
        padding: 0px 10px;
        .ant-card-head-wrapper {
          .ant-card-head-title {
            display: flex;
          }
          .ant-card-extra {
            a {
              font-family: 'Gilroy-medium';
              font-size: 15px;
              font-weight: bold;
              color: #222222;
            }
          }
        }
      }
      .ant-card-body {
        padding: 0px;
        height: 127px;
        border-radius: 0 0 8px 8px;
        .ant-row {
          height: 100%;
          align-items: center;
          .img-col {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            .img-col-div {
              width: 83px;
              height: 83px;
              border-radius: 4px;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 4px;
              }
            }
          }
          .user-col {
            display: flex;
            height: 100%;
            align-items: center;
            padding: 10px 5px 10px 20px;
            .user-col-div {
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              .user-detail {
                .user-name {
                  font-family: 'Gilroy-medium';
                  font-size: 20px;
                  font-weight: bold;
                  color: #222222;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }
                .user-email {
                  font-family: 'Gilroy-medium';
                  font-size: 15px;
                  font-weight: 500;
                  color: #222222;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }
              }
              .user-profile-button {
                a {
                  font-family: 'Gilroy-medium';
                  font-size: 14px;
                  font-weight: bold;                
                  text-decoration: underline;
                  color: #C20155;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 375px) and (max-width: 425px) {
  .ant-dropdown {
    box-shadow: 0px 0px 6px #00000029;
    top: 69px !important;
    left: 5px !important;
    .profile-dropdown-mobile {
      width: 364px;
      height: 168px;
      .ant-card-head {
        box-shadow: 0px 0px 6px #00000029;
        min-height: 37px !important;
        padding: 0px 15px;
        .ant-card-head-wrapper {
          .ant-card-head-title {
            display: flex;
          }
          .ant-card-extra {
            a {
              font-family: 'Gilroy-medium';
              font-size: 15px;
              font-weight: bold;
              color: #222222;
            }
          }
        }
      }
      .ant-card-body {
        padding: 0px;
        height: 127px;
        border-radius: 0 0 8px 8px;
        .ant-row {
          height: 100%;
          align-items: center;
          .img-col {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            .img-col-div {
              width: 83px;
              height: 83px;
              border-radius: 4px;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 4px;
              }
            }
          }
          .user-col {
            display: flex;
            height: 100%;
            align-items: center;
            padding: 10px 5px 10px 20px;
            .user-col-div {
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              .user-detail {
                .user-name {
                  font-family: 'Gilroy-medium';
                  font-size: 20px;
                  font-weight: bold;
                  color: #222222;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }
                .user-email {
                  font-family: 'Gilroy-medium';
                  font-size: 15px;
                  font-weight: 500;
                  color: #222222;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }
              }
              .user-profile-button {
                a {
                  font-family: 'Gilroy-medium';
                  font-size: 14px;
                  font-weight: bold;                
                  text-decoration: underline;
                  color: #C20155;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 425px) and (max-width: 767px) {
  .ant-dropdown {
    box-shadow: 0px 0px 6px #00000029;
    top: 69px !important;
    left: 5px !important;
    .profile-dropdown-mobile {
      width: 415px;
      height: 168px;
      .ant-card-head {
        box-shadow: 0px 0px 6px #00000029;
        min-height: 37px !important;
        padding: 0px 25px;
        .ant-card-head-wrapper {
          .ant-card-head-title {
            display: flex;
          }
          .ant-card-extra {
            a {
              font-family: 'Gilroy-medium';
              font-size: 15px;
              font-weight: bold;
              color: #222222;
            }
          }
        }
      }
      .ant-card-body {
        padding: 0px;
        height: 127px;
        border-radius: 0 0 8px 8px;
        .ant-row {
          height: 100%;
          align-items: center;
          .img-col {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            .img-col-div {
              width: 83px;
              height: 83px;
              border-radius: 4px;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 4px;
              }
            }
          }
          .user-col {
            display: flex;
            height: 100%;
            align-items: center;
            padding: 10px 5px 10px 20px;
            .user-col-div {
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              .user-detail {
                .user-name {
                  font-family: 'Gilroy-medium';
                  font-size: 20px;
                  font-weight: bold;
                  color: #222222;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }
                .user-email {
                  font-family: 'Gilroy-medium';
                  font-size: 15px;
                  font-weight: 500;
                  color: #222222;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }
              }
              .user-profile-button {
                a {
                  font-family: 'Gilroy-medium';
                  font-size: 14px;
                  font-weight: bold;                
                  text-decoration: underline;
                  color: #C20155;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 767px) {
  .ant-dropdown {
    box-shadow: 0px 0px 6px #00000029;
    top: 87px !important;
    .profile-dropdown-web {
      width: 426px;
      height: 192px;
      .ant-card-head {
        box-shadow: 0px 0px 6px #00000029;
        min-height: 42px;
        .ant-card-head-wrapper {
          .ant-card-head-title {            
            display: flex;
          }
          .ant-card-extra {
            a {
              font-family: 'Gilroy-medium';
              font-size: 15px;
              font-weight: bold;
              color: #222222;
            }
          }
        }
      }
      .ant-card-body {
        padding: 0px;height: 150px;
        border-radius: 0 0 8px 8px;
        .ant-row {
          height: 100%;
          align-items: center;
          .img-col {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            .img-col-div {
              width: 94px;
              height: 94px;
              border-radius: 4px;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 4px;
              }
            }
          }
          .user-col {
            display: flex;
            height: 100%;
            align-items: center;
            padding: 10px 5px 10px 20px;
            .user-col-div {
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              .user-detail {
                .user-name {
                  font-family: 'Gilroy-medium';
                  font-size: 20px;
                  font-weight: bold;
                  color: #222222;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }
                .user-email {
                  font-family: 'Gilroy-medium';
                  font-size: 15px;
                  font-weight: 500;
                  color: #222222;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }
              }
              .user-profile-button {
                a {
                  font-family: 'Gilroy-medium';
                  font-size: 14px;
                  font-weight: bold;                
                  text-decoration: underline;
                  color: #C20155;
                }
              }
            }
          }
        }
      }
    }
  }
}