.dashboard-container {
  margin: 20px 0px;

  .chart-container-column {
    background: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0px 2px 6px #00000033;
    display: flex;
    justify-content: space-between;
    padding: 20px;

    .chart-container-column-left {
      display: flex;
      flex-direction: column;

      .actions {
        margin: 0;
        font-size: 16px;
        color: #222222;
        font-weight: bold;
        margin-bottom: 10px;
        opacity: 0.8;
      }

      .impressions-counts {
        margin: 0;
        font-size: 25px;
        color: #4099FF;
        word-spacing: 60;
        font-weight: 600;
      }

      .clicks-counts {
        margin: 0;
        font-size: 25px;
        color: #13C64F;
        word-spacing: 60;
        font-weight: 600;
      }

      .cta-counts {
        margin: 0;
        font-size: 25px;
        color: #F7Af2D;
        word-spacing: 60;
        font-weight: 600;
      }

      .date {
        margin: 0;
        font-size: 12px;
        color: #222222;
        font-weight: bold;
        margin-top: 2px;
        opacity: 0.8;
      }
    }

    .chart-container-column-right {
      text-align: center;
      margin: auto 0;
      position: relative;

      .impression-background-icon {
        position: absolute;
        top: 31%;
        right: 25%;
      }

      .click-background-icon {
        position: absolute;
        text-align: center;
        top: 23%;
        right: 21%;
      }

      .cta-background-icon {
        position: absolute;
        text-align: center;
        top: 18%;
        right: 30%;
      }
    }
  }
}