.dashboard-container {
  margin: 20px 0px;

  .chart-container-column {
    background: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0px 2px 6px #00000033;
    display: flex;
    height: 124px;
    justify-content: space-between;
    padding: 10px 20px;


    .chart-container-column-left {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .actions {
        font-family: 'Gilroy-medium';
        margin-top: 0;
        font-size: 16px;
        font-weight: 600;
        color: #222222;
      }

      .impressions-counts,
      .clicks-counts,
      .cta-counts {
        font-family: 'Gilroy-medium';
        margin: 0;
        font-size: 25px;
        letter-spacing: 1.5px;
        font-weight: 600;
      }

      .impressions-counts {
        color: #4099FF;
      }

      .clicks-counts {
        color: #13C64F;
      }

      .cta-counts {
        color: #F7Af2D;
      }

      .date {
        font-family: 'Gilroy-medium';
        margin: 0;
        font-size: 12px;
        color: #222222;
        font-weight: 600;
        margin-top: 2px;
      }
    }

    .chart-container-column-right {
      text-align: center;
      margin: auto 0;
      position: relative;

      .impression-background-icon {
        position: absolute;
        top: 31%;
        right: 25%;
      }

      .click-background-icon {
        position: absolute;
        text-align: center;
        top: 23%;
        right: 21%;
      }

      .cta-background-icon {
        position: absolute;
        text-align: center;
        top: 18%;
        right: 30%;
      }
    }
  }
}