.dashboard {
  .dashboard-header {
    display: flex;
    align-items: center;

    p {
      font-family: 'Gilroy-medium';
      font-size: 20px;
      font-weight: 600;
      color: #222222;
      margin: 0px;
      margin-left: 25px;
    }
  }

  .dashboard-chart {
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px #00000033;
    border-radius: 4px;


    .chart-select {

      .select-div {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .pTag {
          font-family: 'Gilroy-medium';
          font-weight: 600;
          color: #C20155;
          margin: 0px;
        }

        .select-dropdown {

          .dynamicBtn {
            .chart-dropdown-prev {
              display: flex;
              justify-content: center;
              align-items: center;
              background: #F2F2F2;
              border-radius: 4px;
              cursor: pointer;
              border: none;
            }

            .chart-dropdown-data-yearly,
            .chart-dropdown-data-monthly,
            .chart-dropdown-data-weekly {
              display: flex;
              justify-content: center;
              align-items: center;
              font-weight: bold;
              opacity: 0.7;
            }

            .chart-dropdown-next {
              display: flex;
              justify-content: center;
              align-items: center;
              background: #F2F2F2;
              border-radius: 4px;
              cursor: pointer;
              border: none;
            }
          }

          .ant-select {
            background: #F2F2F2;
            border-radius: 4px;

            .ant-select-selector {
              .ant-select-selection-item {
                font-family: 'Gilroy-medium';
                font-weight: 500;
                font-size: 14px;
                color: #222222;
              }
            }

            .ant-select-arrow {
              font-family: 'Gilroy-medium';
              font-size: 12px;
              font-weight: bolder;
              opacity: 0.8;
              color: #000000;
            }
          }
        }

      }

    }

    .chart-loading {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 350px;

      .ant-spin-spinning {
        display: flex;
        position: absolute;

        .ant-spin-dot-item {
          background-color: #570026;
        }
      }
    }

    .chart-flow {
      padding: 0px 15px 0px 10px;
    }
  }

}

.ant-select-dropdown {
  .rc-virtual-list {
    .rc-virtual-list-holder {
      .rc-virtual-list-holder-inner {
        .ant-select-item {
          font-family: 'Gilroy-medium';
          font-weight: 500;
          font-size: 14px;
          color: #222222;
          margin: 0px 0px;
        }
      }
    }
  }
}

@media screen and (min-width: 767px) {
  .dashboard {
    padding: 20px 25px;

    .dashboard-chart {
      .chart-select {
        padding: 17px 20px;

        .select-div {
          .pTag {
            font-size: 18px;
          }

          .select-dropdown {
            display: flex;

            .dynamicBtn {
              display: flex;
              width: 196px;
              height: 40px;
              margin-right: 10px;

              .chart-dropdown-prev {
                width: 40px;
                height: 40px;
              }

              .chart-dropdown-data-yearly,
              .chart-dropdown-data-monthly,
              .chart-dropdown-data-weekly {
                width: 116px;
              }

              .chart-dropdown-data-weekly {
                font-size: 11px;
              }

              .chart-dropdown-next {
                width: 40px;
                height: 40px;
              }
            }

            .ant-select {
              height: 40px;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    .dashboard {
      padding: 30px 20px;

      .dashboard-chart {
        .chart-select {
          padding: 17px 6px;

          .select-div {
            .pTag {
              font-size: 11px;
            }

            .select-dropdown {
              display: flex;

              .dynamicBtn {
                display: flex;
                width: 132px;
                height: 32px;
                margin-right: 5px;

                .chart-dropdown-prev {
                  width: 32px;
                  height: 32px;
                }

                .chart-dropdown-data-yearly,
                .chart-dropdown-data-monthly,
                .chart-dropdown-data-weekly {
                  width: 68px;
                }

                .chart-dropdown-data-yearly,
                .chart-dropdown-data-monthly {
                  font-size: 12px;
                }

                .chart-dropdown-data-weekly {
                  font-size: 7px;
                  opacity: 1;
                }

                .chart-dropdown-next {
                  width: 32px;
                  height: 32px;
                }
              }

              .ant-select {
                width: 88px !important;
                height: 32px;

                .ant-select-selector {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  padding: 7px 11px;
                }
              }
            }
          }
        }
      }

      .chart-flow {
        overflow-x: auto;
      }
    }
  }
}