.dashboard {
  .dashboard-header {
    display: flex;
    align-items: center;

    p {
      font-family: 'Gilroy-medium';
      font-size: 20px;
      font-weight: 600;
      color: #222222;
      margin: 0px;
      margin-left: 25px;
    }
  }





  .dashboard-chart {
    background: #FFFFFF;
    box-shadow: 0px 2px 6px #00000033;
    border-radius: 4px;


    .chart-select {
      padding: 17px 20px;

      .select-div {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
          font-family: 'Gilroy-medium';
          font-size: 18px;
          font-weight: 600;
          color: #C20155;
          margin: 0px;
        }

        .ant-select {
          background: #F2F2F2;
          border-radius: 4px;

          .ant-select-selector {
            .ant-select-selection-item {
              font-family: 'Gilroy-medium';
              font-weight: 500;
              font-size: 14px;
              color: #222222;
            }
          }

          .ant-select-arrow {
            font-family: 'Gilroy-medium';
            font-size: 12px;
            font-weight: bolder;
            opacity: 0.8;
            color: #000000;
          }
        }

      }

    }

    .chart-loading {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 350px;

      .ant-spin-spinning {
        display: flex;
        position: absolute;

        .ant-spin-dot-item {
          background-color: #570026;
        }
      }
    }

    .chart-flow {
      padding: 0px 10px 0px 0px;
    }
  }

}

.ant-select-dropdown {
  .rc-virtual-list {
    .rc-virtual-list-holder {
      .rc-virtual-list-holder-inner {
        .ant-select-item {
          font-family: 'Gilroy-medium';
          font-weight: 500;
          font-size: 14px;
          color: #222222;
          margin: 3px 0px;
        }
      }
    }
  }
}

@media screen and (min-width: 767px) {
  .dashboard {
    padding: 20px 25px;
  }
}

@media screen and (max-width: 767px) {
  .dashboard {
    padding: 30px 20px;

    .dashboard-chart {
      .chart-select {
        .select-div {
          .ant-select {
            width: 113px !important;
          }
        }
      }
    }

    .chart-flow {
      overflow-x: auto;
    }
  }
}