.dashboard {
  padding: 25px;

  .dashboard-header {
    display: flex;
    p {
      font-size: 20px;
      font-weight: 600;
      color: #222222;
      margin: 0px;
      margin-left: 25px;
    }
  }

  .dashboard-container {
    .chart {
      .apexcharts-theme-light {
        width: 0px !important;
        height: 0px !important;
      }
    }
  }

  .dashboard-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    .ant-spin-spinning {
      display: flex;
      position: absolute;
    }
  }

  .dashboard-chart {
    background: #FFFFFF;
    box-shadow: 0px 2px 6px #00000033;
    border-radius: 4px;

    .ant-tabs-nav {
      margin: 0px;

      .ant-tabs-extra-content {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 15px 15px 15px 20px;

        p {
          margin: 0px;
          font-size: 18px;
          font-weight: 600;
          color: #C20155;
        }

        .ant-select-show-arrow {
          width: 144px;
          display: flex;
          background: #F2F2F2;
          align-items: center;
          height: 40px;

          .ant-select-selector {
            .ant-select-selection-item {
              font-size: 14px;
              font-weight: 500;
              opacity: 0.8;
            }
          }

          .ant-select-arrow {
            font-size: 14px;
            font-weight: 700;
            opacity: 0.8;
            color: #000000;
          }
        }
      }

      .ant-tabs-nav-wrap {
        display: none;
      }
    }
  }


}