.containerStyles {
  width: 100%;
  height: 34px;
  background: #ececec 0% 0% no-repeat padding-box;
  border-radius: 13px;
  .fillerStyles {
    border-radius: 13px;
    border: none;
    height: 35px;
    border-radius: 13px;
    .labelStyles {
      width: 18px;
      height: 12px;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      p {
        margin-bottom: 0px;
        padding: 0px;
        text-align: center;
        color: #03781b;
        font-weight: bold;
        margin-left: 10px;
      }
    }

    img {
      width: 20px;
      height: 20px;
    }
  }
}
