.forgot-div {
    margin-top: 100px;
  
    .ant-form-item {
      margin-bottom: 0px !important;
    }
  
    .forgot {
      max-width: 450px;
      flex-direction: column;
      justify-content: center;
      margin: auto;
  
      .button {
        height: 40px;
        border-color: #570026;
  
        .img {
          margin-top: 5px;
        }
  
      }
  
      .p-forgot {
        font-size: 25px;
        color: #C20155;
        font-weight: 500;
        opacity: 1;
  
        .send-emailmessage {
          padding-top: 5px;
          color: #A9A9A9;
          font-size: 15px;
          margin-top: 2px;
          font-weight: 500;
        }
      }
    }
    .form-forgot {
        max-width: 450px;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        margin-top: 10px;
      
        .form-item {
          font-size: 14px;
          color: #222222;
          font-weight: 600;
          opacity: 0.8;
        }
        .ant-form-item-label{
            padding: 0 !important;
        }
        .input {
          font-size: 14px;
          color: #222222;
          font-weight: 600;
          opacity: 1;
          background: #F2F2F2;
          border-radius: 5px;
          height: 48px;
          border: none !important;
        }
      
        .error {
          color: red;
        }
      
        .get-link {
          .spin-Loading {
            // margin-top: 50%;
            .ant-spin-dot-item {
              background-color: #570026;
            }
            .ant-spin-dot {
              margin-left: -5%;
            }
          }
          .ant-btn,
          .ant-btn:hover,
          .ant-btn:focus {
            border-radius: 5px !important;
            background: #570026 !important;
            font-size: 17px;
            font-weight: 600;
            color: #FFFFFF !important;
            margin-top: 50px;
            margin-bottom: 30px;
            padding-top: 12px;
            padding-bottom: 36px;
            width: 450px !important;
            max-width: 100%;
            height: 50px !important;
            border-color: #570026 !important;
          }
          .mail-message {
            margin-top: -20px;
            color: green;
            font-size: 13px;
            padding-bottom: 5%;
          }
        }
      }
  }
  
  @media screen and (max-width: 600px){
    .forgot-div{
        background-color: #FFFFFF;
        padding: 0 5% 0 5%;
        border-radius: 5%;
        margin: 5% 6.2% 0 6.2% !important;
        .forgot{
            .mob-forgot-div{
                margin-top: 10%;
                display: flex;
                flex-direction: row;
                img {
                    height: 23px;
                    width: 23px;
                }
                .heading-div{
                    margin-left: 7%;
                    margin-bottom: 7%;
                .mob-forgot-heading{
                    font-size: 20px;
                    font-weight: 500;
                    color: #C20155;
                }
                .sendlink-label{
                    margin-top: 2%;
                    font-size: 14px;
                    font-weight: 500;
                    color: #a9a9a9;
                }
            }
            }
        }
    }
  }

  @media screen and (max-width: 1000px) and (min-width: 600px){
    .forgot-div{
        background-color: #FFFFFF;
        padding: 0 5% 0 5%;
        border-radius: 5%;
        margin: 15% 6.2% 0 6.2% !important;
    }
  }
  