.login {
  height: 100vh;

  .login-left {
    background-image: url('../../assets/Bg@2x.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .login-title {
      text-align: center;

      .login-main-title {
        margin: 0px;
        font-size: 24px;
        color: #FFFFFF;
        font-weight: 350;
        opacity: 0.9;
      }

      .login-sub-title {
        font-size: 16px;
        color: #FFFFFF;
        margin: 0;
        margin-top: 5px;
        opacity: 0.7;
        font-weight: 400;
      }
    }

    .login-logo {
      margin-top: 80px;
    }
  }

  .login-right {

    .form {
      max-width: 450px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: auto;
      
      .ant-form-item {
        margin-bottom: 0px;
      }

      .form-sign-up {
        margin-top: 20px;
        p {
          font-size: 24px;
          color: #C20155;
          font-weight: 600;
          opacity: 0.8;
        }
      }
      .form-sign-in {
        p {
          font-size: 24px;
          color: #C20155;
          font-weight: 600;
          opacity: 0.8;
        }
      }

      .form-email-address {
        margin-top: 20px;

        label {
          font-size: 14px;
          color: #222222;
          font-weight: 600;
          opacity: 0.7;
        }

        input {
          margin-top: 15px;
          font-size: 14px;
          color: #222222;
          font-weight: 600;
          opacity: 0.7;
          background: #F2F2F2;
          border-radius: 5px;
        }
      }

      .form-password {
        margin-top: 20px;

        label {
          font-size: 14px;
          color: #222222;
          font-weight: 600;
          opacity: 0.7;
        }

        input {
          font-size: 14px;
          color: #222222;
          font-weight: 600;
          opacity: 0.7;
          background: #F2F2F2;
        }
        .popover {
          width: 50px;
        }

        .ant-input-affix-wrapper-lg {
          margin-top: 15px;
          background: #F2F2F2;
          border-radius: 5px;
        }
      }

      .form-forgot {
        float: right;
        text-decoration: underline;
        color: #222222;
        font-size: 13px;
        font-weight: 650;
        opacity: 0.7;
        margin-top: 20px;
        margin-bottom: 40px;
      }

      .form-button {
        border-radius: 5px;
        background: #570026;
        font-size: 14px;
        font-weight: 600;
        color: #FFFFFF;
        margin-bottom: 30px;
        padding-top: 12px;
        padding-bottom: 36px;
      }

      .form-account {
        font-size: 14px;
        color: #222222;
        font-weight: 600;
        opacity: 0.7;
      }

      .form-signup {
        font-size: 13px;
        color: #C20155;
        font-weight: 700;
        cursor: pointer;
      }

      .form-item-signup {        
        label {
          font-size: 14px;
          color: #222222;
          font-weight: 600;
          opacity: 0.7;
        }

        input {
          font-size: 14px;
          color: #222222;
          font-weight: 600;
          opacity: 0.7;
          background: #F2F2F2;
          border-radius: 5px;
        }
      }

      .ant-popover-inner-content {
        width: 500px;
        height: 100px;
        font-size: 5px;
        background-color: #C20155;
      }

      .error {
        color: red;
      }
      .user-img-logo-content {
        position: relative;
        justify-content: center;
        display: flex;
        flex-direction: column;
        border-radius: 50%;
        margin-left: 0%;
        .camera-icon {
          display: flex;
          top: 0;
          position: absolute;
          width: 221px;
          height: 221px;
          background-color: #000;
          cursor: pointer;
          opacity: 0.75;
          border-radius: 10px;
          justify-content: center;
          align-items: center;
          input {
            display: none;
          }
        }
        .camera-icon-hide {
          display: none;
        }

        .profile-head {
          width: 221px;
          height: 221px;
          border-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #c4c1c1 0% 0% no-repeat padding-box;
          .profile-loading {
            width: 150px;
            height: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .profile-logo-img {
            border-radius: 50%;
            cursor: pointer;
            object-fit: cover;
            width: 215px;
            height: 215px;
            .profile-img {
              width: 100%;
              height: 100%;
              border-radius: 10px;
            }
          }
        }
      }

      .password-label {
        background-color: #F2F2F2;
      }
      .prev-button-div {
        display: flex;
        flex-direction: row;
      }

      .signup-button {
        margin-top: 0px;
        margin-left: 300px;
        font-size: 13px;
        background: #570026;
        color: white;
        font-weight: 700;
      }
      .payment {
        margin-top: 20px;
        margin-left: 300px;
        width: 150px;
        font-size: 13px;
        background: #570026;
        color: white;
        font-weight: 700;
      }
      .next-button {
        margin-top: 1px;
        width: 150px;
        font-size: 13px;
        background: #570026;
        color: white;
        font-weight: 700;
        margin-left: 300px;
        cursor: pointer;
      }
      .next-button-current1 {
        margin-top: 1px;
        width: 150px;
        font-size: 13px;
        background: #570026;
        color: white;
        font-weight: 700;
        margin-left: 50px;
        cursor: pointer;
      }
      .next-button-current2 {
        margin-top: 200px;
        width: 150px;
        font-size: 13px;
        background: #570026;
        color: white;
        font-weight: 700;
        margin-left: 50px;
        cursor: pointer;
      }

      .prev-button {
        margin-top: 1px;
        width: 80px;
        font-size: 13px;
        background: white;
        color: #570026;
        font-weight: 700;
        margin-left: 200px;
        border-color: #570026;
        cursor: pointer;
      }

      .prev-button-current2 {
        margin-top: 200px;
        width: 80px;
        font-size: 13px;
        background: white;
        color: #570026;
        font-weight: 700;
        margin-left: 200px;
        border-color: #570026;
        cursor: pointer;
      }
      .upload {
        position: absolute;
        top: 0%;
        width: 50%;
        height: 150px;
        background-color: rgb(243, 241, 241);
        border-radius: 10px;
      }
      .input {
        position: absolute;
        top: 0%;
        height: 150px;
        width: 50%;
        text-align: center;
        border-radius: 10px;
        color: transparent;
        opacity: 0;
      }

      .buttonImage {
        position: absolute;
        top: 0%;
        width: 221px;
        height: 221px;
        background-color: rgb(243, 241, 241);
        border-radius: 10px;
        border-color: none;
      }
      .subscription {
        margin-top: 50px;
        font-size: 14px;
        font-weight: 600;
        opacity: 0.7;
      }

      .subscription-card2 {
        margin-right: 10px;
        color: #222222;
        font-weight: 600;
        opacity: 0.7;
        height: 230px;
        width: 140px;
        border-color: rgb(231, 228, 228);
      }
      .subscription-label  {
        position: absolute;
        top: 5px;
        left: 5px;
      }

      .list-div {
        position: absolute;
        top: 40px;
        display: inline;
        font-size: 10px;
        margin: 0;
        padding: 0;
      }

      .list {
        margin-bottom: 5px;
      }

      .subscription-tag {
        position: absolute;
        top: 120px;
        font-size: 8px;
        color: #222222;
        font-weight: 700;
        margin-top: 20px;
        margin-right: 1px;
        opacity: 0.7;     
      }

      .price-label {
        position: absolute;
        bottom: 10px;
        left: 10px;
        font-weight: 700;
        font-size: 20px;
        color: #C20155;
      }
       
      .steps {
        margin-top: 1px;
        color: #C20155;
        font-weight: 700;
        width: 100px;
      }

      .steps-current2 {
        margin-top: 200px;
        color: #C20155;
        font-weight: 700;
        width: 100px;
      }

      .avatar {
        height: 150px;
        width: 200px;
      }
      .popover {
        max-width: 50px;
      }
      .ant-select-selector {
        background: #F3f3f3;
      }
      
    }
  }
}
