.login {
    height: 100vh;
  
    .login-leftside {
      background-image: url('../../assets/Bg@2x.png');
      flex-direction: column;
      align-items: center;
      justify-content: center;
  
      .login-title {
        text-align: center;
  
        .login-main-title {
          margin: 0px;
          font-size: 24px;
          color: #FFFFFF;
          font-weight: 350;
          opacity: 0.9;
        }
  
        .login-sub-title {
          font-size: 16px;
          color: #FFFFFF;
          margin: 0;
          margin-top: 5px;
          opacity: 0.7;
          font-weight: 400;
        }
      }
  
      .login-content-div {
        height: 50%;
        padding-top: 25%;
        justify-content: space-between;
      }
  
      .login-logo {
        margin-top: 30px;
      }
      .login-rightside{
        
      }
    }

    .login-rightside{
    .forgot-div {
        margin-top: 20% !important;
      
        .ant-form-item {
          margin-bottom: 0px !important;
        }
      
        .reset-container {
          max-width: 450px;
          flex-direction: column;
          justify-content: center;
          margin: auto;
      
          .button {
            height: 40px;
            border-color: #570026;
      
            .img {
              margin-left: auto;
              margin-right: auto;
              display: block;
            }
      
          }
      
          .p-forgot {
            font-size: 24px;
            color: #C20155;
            font-weight: 500;
            opacity: 1;
      
            .send-emailmessage {
              padding-top: 5px;
              color: #A9A9A9;
              font-size: 14px;
              margin-top: 2px;
              font-weight: 500;
              opacity: 0.8;
            }
          }
        }
        .form-forgot {
            max-width: 450px;
            flex-direction: column;
            justify-content: center;
            margin: auto;
            margin-top: 10px;
            .form-item-password {
                label {
                    font-size: 14px;
                    color: #222222;
                    font-weight: 600;
                    opacity: 0.8;
                }
    
                input {

                    font-size: 14px;
                    color: #222222;
                    font-weight: 600;
                    opacity: 0.8;
                    background: #F2F2F2;
                    border-radius: 5px;
                    border: none !important;
                }
                .password-label {
                    background-color: #F2F2F2;
                    height: 48px !important;
                    border: none !important;
                    border-radius: 5px !important;
                }
            }
            .error {
              color: red;
            }
          
            .get-link {
          
              .ant-btn,
              .ant-btn:hover,
              .ant-btn:focus {
                border-radius: 5px !important;
                background: #570026 !important;
                font-size: 17px;
                font-weight: 600;
                color: #FFFFFF !important;
                margin-top: 50px;
                margin-bottom: 30px;
                padding-top: 12px;
                padding-bottom: 36px;
                width: 450px !important;
                max-width: 100%;
                height: 50px !important;
                border-color: #570026 !important;
              }
              .mail-message {
                margin-top: -20px;
                color: green;
                font-size: 13px;
                padding-bottom: 5%;
              }
            }
          }
      }
    }
    @media only screen and (max-width: 600px){
      .login-rightside{
        background-image: url('../../assets/ColumbusBackImage.svg');
        background-color: transparent;
        .login-div{
            .mobile-login-logo{
                padding: 5% 0 2% 0;
                img{
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
            .login-main-title {
                margin: 0px;
                font-size: 24px;
                color: #FFFFFF;
                font-weight: 350;
                opacity: 0.9;
                text-align: center;
              }
        
              .login-sub-title {
                font-size: 16px;
                color: #FFFFFF;
                margin: 0;
                margin-top: 2%;
                opacity: 0.7;
                font-weight: 400;
                text-align: center;
              }
        
            }
            .forgot-div{
                .reset-header {
                    .mob-forgot-div{
                        margin-top: 10%;
                        display: flex;
                        flex-direction: row;
                        img {
                            height: 23px;
                            width: 23px;
                        }
                        .heading-div{
                            margin-left: 7%;
                            margin-bottom: 7%;
                        .mob-forgot-heading{
                            font-size: 20px;
                            font-weight: 500;
                            color: #C20155;
                        }
                        .sendlink-label{
                            margin-top: 2%;
                            font-size: 14px;
                            font-weight: 500;
                            color: #a9a9a9;
                        }
                    }
                    }
                }
                
            }
      }
    }
  } 

  @media only screen and (max-width: 800px) and (min-width: 600px){
    .login-rightside{
        .forgot-div{
            padding: 0 5% 0 5%;
        }
    }

  }