.signin-div{
    background-color: #FFFFFF;
    .form {
        max-width: 450px;
        flex-direction: column;
        justify-content: center;
        margin: auto;
  
        .form-password {
          border: none !important;
        }
        .ant-form-item {
          margin-bottom: 0px;
        }

        .form-sign-in {
          div{
            font-size: 24px;
            color: #C20155;
            font-weight: 500;
            opacity: 1;
          }
        }
  
        .form-email-address {
          margin-top: 20px;
          label {
            font-size: 14px;
            color: #222222;
            opacity: 0.8;
            font-weight: 600;
            border: none !important;
          }
  
          input {
            margin-top: 4%;
            font-size: 14px;
            color: #222222;
            opacity: 0.8;
            background: #F2F2F2;
            border-radius: 5px;
            border: none !important;
            font-weight: 600;
            height: 48px;
          }
        }
  
        .form-password {
          margin-top: 20px;
  .input.password{
    margin-top: 10px;
  }
          label {
            font-size: 14px;
            color: #222222;
            opacity: 0.8;
            font-weight: 600;
            border: none !important;
          }
  
          input {
            font-size: 14px;
            color: #222222;
            opacity: 0.8;
            font-weight: 600;
            background: #F2F2F2;
          }
  
          .ant-input-affix-wrapper-lg {
            margin-top: 4%;           
            background: #F2F2F2;
            border-radius: 5px;
            border: none !important;
            height: 48px;
          }
        }
  
        .form-forgot {
          float: right;
          text-decoration: underline;
          color: #222222;
          font-size: 14px;
          font-weight: 600;
          opacity: 0.8;
          margin-top: 20px;
          margin-bottom: 40px;
        }

        .form-button {
          border-radius: 5px;
          background: #570026;
          font-size: 17px;
          font-weight: 600;
          color: #FFFFFF;
          margin-bottom: 30px;
          height: 48px;
        }
  
        .form-account {
          margin-top: -10px;
          font-size: 14px;
          color: #222222;
          opacity: 0.8;
          font-weight: 600;
        }
  
        .form-signup {
          font-size: 14px;
          color: #C20155;
            font-weight: 700;
            opacity: 2;
          cursor: pointer;
        //   text-decoration: underline;
        }
    }
}

@media (max-width: 600px) {
    .signin-div{
        border-radius: 5% !important;
        margin: 0 6.2% 0 6.2% !important;
        .ant-form{
          margin-top: 6% !important;
          border-radius: 5%;
        }
        .form{
            padding: 4% 5% 0 5%;
            .form-email-address {
                margin-top: 0 !important;
              }
              .form-sign-in {
                div{
                    font-size: 20px;
                    margin-bottom: 1.5%;
                }
            }
              .form-password {
                margin-top: 5%;
        }
        .form-forgot{
            margin-top: 3%;
            margin-bottom: 8%;
        }
        .form-button{
            margin-top: 0%;
            margin-bottom: 7%;
        }
        .form-account{
            margin-bottom: 8%;
        }
    }
  }
}

// .login-div{
//     .mobile-login-logo{
//         padding: 5% 0 2% 0;
//         img{
//             display: block;
//             margin-left: auto;
//             margin-right: auto;
//         }
//     }
//     .login-main-title {
//         margin: 0px;
//         font-size: 24px;
//         color: #FFFFFF;
//         font-weight: 350;
//         opacity: 0.9;
//         text-align: center;
//       }

//       .login-sub-title {
//         font-size: 16px;
//         color: #FFFFFF;
//         margin: 0;
//         margin-top: 2%;
//         opacity: 0.7;
//         font-weight: 400;
//         text-align: center;
//         margin-bottom: -10% !important;
//       }
// }