.signup-div {
    background-color: #FFFFFF;
    .form {
        
        max-width: 450px;
        flex-direction: column;
        justify-content: center;
        margin: auto;

        .form-password {
            border: none !important;
        }

        .ant-form-item {
            margin-bottom: 0px;
            .ant-form-item-explain-error{
                color: red;
                font-size: 13px;
                font-weight: 600;
                opacity: 0.7;
            }
        }
        
        .form-sign-up {
            margin-top: 5%;
            display: flex;
            flex-direction: row;
            gap: 5%;

            p {
                font-size: 25px;
                color: #C20155;
                font-weight: 400;
                opacity: 1;
            }
        }

        .form-signup-mobrow {
            div {
                margin: 3% 0 1% 0;
                font-size: 25px;
                color: #C20155;
                font-weight: 400;
                opacity: 1;
            }
        }

        .ant-select-selection-search-input {
            height: 48px !important;
        }
        
        .form-item-select {
           
            z-index: 1;
            margin-bottom: 0px;
            // height: 48px;
            opacity: 1;
            font-weight: 600;
            .ant-select-selection-search {
                height: 48px;
            }

            label {
                font-size: 14px;
                color: #222222;
                opacity: 0.8;
                font-weight: 600;
                border: none !important;
            }

            Select {
                height: 48px;
                opacity: 0.8;
                font-weight: 600;
            }
            

            input {
                font-size: 13px;
                color: #222222;
                opacity: 1;
                height: 48px;
                opacity: 0.8;
                font-weight: 600;
                background: #F2F2F2;
                border-radius: 5px !important;
                border: none !important;
            }

            .error {
                color: red;
                font-size: 13px;
                font-weight: 600;
                opacity: 0.7;            }
        }
        
        .form-sign-in {
            p {
                font-size: 24px;
                color: #C20155;
                font-weight: 500;
                opacity: 1;
            }
        }

        .form-email-address {
            margin-top: 20px;

            label {
                font-size: 14px;
                color: #222222;
                font-weight: 500;
                opacity: 1;
            }

            input {
                margin-top: 10px;
                font-size: 14px;
                color: #222222;
                opacity: 1;
                background: #F2F2F2;
                border-radius: 5px;
                border: none !important;
                font-weight: 500;
                height: 48px;
            }
        }

        .form-password {
            margin-top: 20px;

            .input.password {
                margin-top: 10px;
            }

            label {
                font-size: 14px;
                font-weight: 500;
                color: #222222;
                opacity: 1;
            }

            input {
                font-size: 14px;
                color: #222222;
                opacity: 1;
                font-weight: 500;
                background: #F2F2F2;
            }

            .ant-input-affix-wrapper-lg {
                margin-top: 15px;
                background: #F2F2F2;
                border-radius: 5px;
                border: none !important;
                height: 48px;
            }
        }

        .form-forgot {
            float: right;
            text-decoration: underline;
            color: #222222;
            font-size: 14px;
            font-weight: 500;
            opacity: 1;
            margin-top: 20px;
            margin-bottom: 40px;
        }

        .sign-in-link {
            margin-top: 1px;
            font-size: 14px;
            color: #C20155;
            font-weight: 700;
            opacity: 1;
            text-decoration: underline;

        }

        .sign-in-link-div {
            margin-top: 2%;
            font-size: 14px;
            color: #222222;
            font-weight: 600;
            opacity: 0.8;
            margin-bottom: 8%;
        }

        .form-button {
            border-radius: 5px;
            background: #570026;
            font-size: 17px;
            font-weight: 700;
            color: #FFFFFF;
            margin-bottom: 30px;
            padding-top: 12px;
            padding-bottom: 36px;
        }

        .form-account {
            margin-top: -10px;
            font-size: 14px;
            color: #222222;
            opacity: 1;
        }

        .form-signup {
            font-size: 14px;
            color: #C20155;
            font-weight: bold;
            cursor: pointer;
            text-decoration: underline;
        }

        .form-item-signup {
            input[type="number"]::-webkit-inner-spin-button,
          input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
          input[type="number"] {
            -moz-appearance: textfield;
          }
            label {
                font-size: 14px;
                color: #222222;
                font-weight: 600;
                opacity: 0.8;
            }

            input {
                font-size: 14px;
                color: #222222;
                font-weight: 600;
                opacity: 0.8;
                background: #F2F2F2;
                border-radius: 5px;
                border: none !important;
                height: 48px;
                margin-bottom: 3%;
            }
        }

        .form-item-password {
            label {
                // margin-top: ;
                font-size: 14px;
                color: #222222;
                font-weight: 600;
                opacity: 0.8;
            }

            input {
                font-size: 14px;
                color: #222222;
                font-weight: 600;
                opacity: 0.8;
                background: #F2F2F2;
                border-radius: 5px;
                border: none !important;
            }
            .password-label {
                background-color: #F2F2F2;
                height: 48px !important;
                border: none !important;
                border-radius: 5px !important;
                margin-bottom: 3%;
            }
        }

        .ant-popover-inner-content {
            width: 500px;
            height: 100px;
            font-size: 5px;
            background-color: #C20155;
        }

        .error {
            color: red;
            font-size: 13px;
            font-weight: 600;
            opacity: 0.7;
        }

        .profile-div {
            margin-top: 0%;
            font-size: 14px;
            color: #222222;
            font-weight: 600;
            opacity: 0.7;
        }

        .user-img-logo-content {
            position: relative;
            justify-content: center;
            display: flex;
            flex-direction: column;
            border-radius: 50%;
            margin-left: 0%;
            margin-top: 0%;
            border: none;

            .camera-icon {
                display: flex;
                top: 0;
                position: absolute;
                width: 200px;
                height: 130px;
                background-color: #575757;
                cursor: pointer;
                opacity: 0.75;
                border-radius: 5px;
                justify-content: center;
                align-items: center;

                input {
                    display: none;
                    border: none;
                }
            }

            .camera-icon-hide {
                display: none;
                border: none;
            }

            .profile-head {
                width: 200px;
                height: 130px;
                border-radius: 10px;
                border: none;
                justify-content: center;
                align-items: center;
                background: #F2F2F2 0% 0% no-repeat padding-box;

                .profile-loading {
                    width: 150px;
                    height: 150px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .profile-logo-img {
                    position: absolute;
                    cursor: pointer;
                    object-fit: contain;
                    height: 130px !important;
                    width: 200px !important;
                    border: none;

                    .image-container {
                        height: 130px;
                        width: 200px;
                        border: none;
                    }

                    .add-profile {
                        flex-direction: row;
                        position: absolute;
                        top: 50px;
                        left: 40px;
                        margin-left: 10px;
                        border: none;
                        opacity: 1;
                        .button-div{
                            display: flex;
                            flex-direction: row;
                            img {
                            height: 18px;
                            width: 15px;
                        }

                        span {
                            padding-left: 14px;
                            font-size: 14px;
                            font-weight: 600;
                            opacity: 0.8;
                        }
                        }
                        
                    }

                    .image-div {
                        padding-top: 2%;
                    }

                    .add-profile-img-selected {
                        color: transparent;
                        background-color: transparent;
                        border: none;
                       
                    }
                }
            }
        }

        .ant-input {
            background-color: #f2f2f2;
        }
        .signup-button {
            margin-top: 200px;
            width: 200px;
            height: 48px;
            font-size: 17px;
            background: #570026;
            border-radius: 5px;
            color: #FFFFFF;
            font-weight: 700;
            &:hover{
                background-color: #570026;
                color: #FFFFFF;
            }
        }

        .payment {
            margin-top: 20px;
            margin-left: 300px;
            width: 150px;
            font-size: 13px;
            background: #570026;
            color: white;
            font-weight: 700;
        }



        .upload {
            position: relative;
            top: 0%;
            width: 50%;
            height: 150px;
            background-color: rgb(243, 241, 241);
            border-radius: 10px;
        }

        .input {
            position: absolute;
            top: 0%;
            height: 150px;
            width: 50%;
            text-align: center;
            border-radius: 10px;
            color: transparent;
            opacity: 0;
        }

        .buttonImage {
            position: absolute;
            top: 0%;
            width: 221px;
            height: 221px;
            background-color: rgb(243, 241, 241);
            border-radius: 10px;
            border-color: none;
            color: red;
        }

        .subscription {
            margin-top: 50px;
            font-size: 14px;
            font-weight: 600;
            opacity: 0.7;
        }

        .subscription-card2 {
            margin-right: 10px;
            color: #222222;
            font-weight: 600;
            opacity: 0.7;
            height: 230px;
            width: 140px;
            border-color: rgb(231, 228, 228);
        }

        .subscription-label {
            position: absolute;
            top: 5px;
            left: 5px;
        }

        .list-div {
            position: absolute;
            top: 40px;
            display: inline;
            font-size: 10px;
            margin: 0;
            padding: 0;
        }

        .list {
            margin-bottom: 5px;
        }

        .subscription-tag {
            position: absolute;
            top: 120px;
            font-size: 8px;
            color: #222222;
            font-weight: 700;
            margin-top: 20px;
            margin-right: 1px;
            opacity: 0.7;
        }

        .price-label {
            position: absolute;
            bottom: 10px;
            left: 10px;
            font-weight: 700;
            font-size: 20px;
            color: #C20155;
        }

        .lower-div {
            margin-top: 4%;
            margin-bottom: 10%;

            .steps-div {
                .steps {
                    padding-top: 10%;
                    color: #222222;
                    font-size: 14px;
                    font-weight: 700;
                    width: auto;
                    opacity: 1;
                    justify-content: center;
                }

                .steps-current2 {
                    padding-top: 10%;
                    margin-top: 200px;
                    font-size: 14px;
                    color: #222222;
                    font-weight: 700;
                    opacity: 1;
                    width: auto;
                }
            }

            .prev-btn-div {
                .left-align{
                    position: absolute;
                    bottom: 0;
                   
                    .prev-button-current2 {
                        height: 48px;
                        width: 48px;
                        border-color: #570026;
                        .prev{
                            height: 48px;
                        width: 48px;
                        border-color: #570026;
                            img {
                                height: 18px;
                                width: 18px;
                                display: block;
                                margin-top: auto;
                                margin-bottom: auto;
                            }
                        }
                       
                    }
            }
            .left-alignment{
                .prev-button{
                    height: 48px;
                    width: 48px;
                    border-color: #570026;
                    .prev{
                        height: 48px;
                    width: 48px;
                    border-color: #570026;
                        img {
                            height: 18px;
                            width: 18px;
                            display: block;
                            margin-top: auto;
                            margin-bottom: auto;
                        }
                    }
                }
                
            }
            }

            .next-btn-div {
                .right-align-btn{
                    display: flex;
                    justify-content: end;
                .button-div {
                    display: flex;
                    flex-direction: row;
                }

                .next-button {
                    width: 200px;
                    height: 48px;
                    border-radius: 5px !important;
                    font-size: 17px;
                    background: #570026;
                    color: #FFFFFF;
                    font-weight: 700;
                    cursor: pointer;

                    span {
                        margin-left: 35%;
                        padding-top: 1%;
                    }

                    .backArrow {
                        margin-left: 35%;
                        padding-top: 3%;

                        img {
                            height: 18px;
                            width: 18px;
                        }
                    }
                }

                .next-button-current1 {
                    width: 200px;
                    height: 48px !important;
                    border-radius: 5px !important;
                    font-size: 17px;
                    background: #570026;
                    color: white;
                    font-weight: 700;
                    cursor: pointer;

                    span {
                        margin-left: 35%;
                        padding-top: 1%;
                    }

                    .backArrow {
                        margin-left: 35%;
                        padding-top: 3%;

                        img {
                            height: 18px;
                            width: 18px;
                        }
                    }
                }
            }
            }
        }

        .avatar {
            height: 150px;
            width: 200px;
        }

        .popover {
            max-width: 50px;
        }

        .ant-select-selector {
            background: #f2f2f2;
            height: 48px !important;
            border-radius: 4px !important;
            font-size: 14px;
            color: #222222;
            opacity: 0.7;
            font-weight: 600;
            margin-top: 1%;
            padding-top: 2.5% !important;

            .ant-select-selection-item {
                font-weight: 800;
                opacity: 1;
                padding-top: 1%;

            }
        }

    }
}
@media only screen and (max-width: 330px){
    .signup-div {
        border-radius: 21px !important;
        margin: 0 6.2% 0 6.2% !important;

        .ant-form {
            margin-top: 6% !important;
            border-radius: 5%;
        }

        .form {
            padding: 0% 6% 5% 6%;

            .form-signup-mobrow {
                img {
                    height: 23px;
                    width: 23px;
                }

                .signup-label {
                    margin-top: 1%;
                    font-size: 20px;
                    font-weight: 500;
                }
            }
            .lower-div { 
                margin-bottom: 2%;   
                .steps-div {
                    width: 100px;
                    .steps {
                        padding-top: 10%;
                    }
                    .steps-current2 {
                        padding-top: 50%;
                        width: auto;
                        margin-top: 50%;
                    }
                }
    
                .next-btn-div {
                    margin-left: 10%;
                    .right-align-btn{
                        display: flex;
                    justify-content: end;
                    width: auto;
                    padding: 0;
                    .next-button{
                        .backArrow{
                           margin-left: 25%;
                        }
                    }
                    }
                }
                .signup-btn-div{
                    
                    .signup-button{
                        width: 100%;
                        margin-top: 50%;
                        margin-bottom: 50%;
                      
                    }
                }
            }


        }
    }
}

@media only screen and (max-width: 600px) and (min-width: 340px) {
    .signup-div {
        margin: 0 6.2% 0 6.2% !important;
        border-radius: 21px !important;

        .ant-form {
            margin-top: 5% !important;
        }

        .form {
            padding: 0% 6% 5% 6%;

            .form-signup-mobrow {
                img {
                    height: 23px;
                    width: 23px;
                }

                .signup-label {
                    margin-top: 1%;
                    font-size: 20px;
                    font-weight: 500;
                }
            }
            .lower-div { 
                margin-bottom: 2%;   
   
                .steps-div {
                    .steps {
                        width: auto;
                        margin-top: 10%;
                    }
    
                    .steps-current2 {
                        padding-top: 100%;
                        width: auto;
                        margin-top: 100%;
                        font-size: 14px;
                        color: #222222;
                        font-weight: 700;
                        opacity: 1;
                    }
                }
    
                .next-btn-div {
                    .right-align-btn{
                        display: flex;
                    justify-content: end;
                    }
                }
                .signup-btn-div{
                    display: flex;
                    justify-content: end;
                    .signup-button{
                        width: 80%;
                        margin-top: 50%;
                        margin-bottom: 50%;
                    }
                }
            }


        }
    }
}
@media only screen and (max-width: 800px) and (min-width: 600px){
    .signup-div {
        .form {
            margin: 1% 6.2% 0% 6.2%;
            
            .lower-div { 
                margin-bottom: 10%;    
                .prev-btn-div {
                    .left-align{
                        position: absolute;
                        bottom: 0;
                        .prev-button-current2 {
                            padding-top: 10%;
                            height: 48px;
                            width: 48px;
                            border-color: #570026;
                            .prev{
                                height: 48px;
                            width: 48px;
                            border-color: #570026;
                                img {
                                    height: 18px;
                                    width: 18px;
                                    display: block;
                                    margin-top: auto;
                                    margin-bottom: auto;
                                }
                            }
                           
                        }
                }
                }
                .next-btn-div {
                    .right-align-btn{
                        display: flex;
                    justify-content: end;
                    }
                }
            }
        }
    }
  }

.password-condition-check-div {
    margin-top: 5px;
    width: 400px;
    height: 120px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px #00000029;
    border-radius: 10px;
    border: none;
    opacity: 1;
    width: 100%;

    .ant-col-xl-offset-4 {
        margin-inline-start: 1%;
        margin-left: 10px;
    }
}

.password-condition-div {
    .jingle-blue {
        color: black;
        padding: none;
    }

    p {
        margin: 1px !important;
        font-size: 12px;
        white-space: nowrap;
    }

    .check-neutral {
        border-width: 10px;
        color: #474747;
    }

    .check-success {
        color: #68c96b;
        margin-top: 5px;
    }

    .check-error {
        color: #e35959;
    }

    .icon-align {
        margin-right: 5px;
    }
}