.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./Images/bgImgLarge.png');
  background-repeat: no-repeat;
  height: 100vh;

  .main-component {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 9px 6px #fdebeb;
    border-radius: 20px;
    padding: 20px;
    width: 480px;
    height: 430px;
    .welcome-title {
      font-size: 24px !important;
      text-align: center;
      font-weight: bolder !important;
    }

    .login {
      border: none;
      width: 480px;
      input {
        border: none;
        border-bottom: 2px solid #d8d8d8;
        border-radius: unset;
        font-size: 15px;

        font-weight: 500;
        width: 100%;
      }

      .ant-input:focus {
        outline: white !important;
        box-shadow: none;
      }

      .title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: var(--montserrat-font);
        color: #000;
        text-align: center;
      }
      .username-input {
        border: none;
        margin-top: 10px;
        label {
          font-size: 14px;
          margin-left: 35px;
          font-weight: bold;
        }
        .ant-input-affix-wrapper {
          border: none;
        }
      }

      .password-input {
        margin-top: 10px;
        label {
          font-size: 14px;
          margin-left: 35px;
          font-weight: bold;
        }
        .ant-input-affix-wrapper {
          border: none;
        }
      }

      .login-button {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .ant-card-body {
        transition: all 0.2s linear;
        padding: 0px;
      }

      .ant-card-bordered {
        border: none !important;
      }

      .user-create {
        span {
          color: #000;
        }
      }
    }

    .login-form {
      margin-top: 2rem;
      border: none;
    }

    .login-form-button {
      border-radius: 19px;
      font-size: 16px;
      height: 40px;
      color: #fef8f8;
      border: none;
      margin-top: 30px;
      padding: 8px 0px;
      box-shadow: 0 0 0 2px rgba(82, 116, 251, 0.18);
      background-color: #e53935;
    }
  }
}

.user-profile {
  padding: 25px;
  .arrow {
    cursor: pointer;
  }
  .user-container {
    width: 792px;
    margin-left: auto;
    margin-right: auto;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 30px #fccdcd;
    border-radius: 15px;
    .user-contain {
      .user-detail {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        justify-content: center;
        height: 221px;
        .user-info-icon {
          display: flex;
          .user-icon {
            align-items: center;
            display: flex;
            width: 50px;
            height: 50px;
            justify-content: center;
            background: #f9dede 0% 0% no-repeat padding-box;
            border-radius: 6px;
            img {
              width: 26px;
              height: 28px;
            }
          }
          .seller {
            margin-left: 22px;
            .seller-find {
              font-size: 15px;
              color: #222222;
              margin: 0px;
            }
            .seller-name {
              font-size: 23px;
              font-weight: bold;
              color: #222222;
              margin: 0px;
            }
          }
        }
        .store-info-icon {
          display: flex;
          margin-top: 44px;
          .user-icon {
            align-items: center;
            display: flex;
            width: 50px;
            height: 50px;
            justify-content: center;
            background: #f9dede 0% 0% no-repeat padding-box;
            border-radius: 6px;
            img {
              width: 26px;
              height: 28px;
            }
          }
          .seller {
            margin-left: 22px;
            .seller-find {
              font-size: 15px;
              color: #222222;
              margin: 0px;
            }
            .seller-name {
              font-size: 23px;
              font-weight: bold;
              color: #222222;
              margin: 0px;
            }
          }
        }
      }
      .upload-image-contain {
        display: flex;
        justify-content: center;
        .user-img {
          display: flex;
          flex-direction: column;
          justify-content: center;
          .user-img-logo {
            display: flex;
            flex-direction: column;
            align-items: center;
            .profile-head {
              width: 221px;
              height: 221px;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              background: #e53935 0% 0% no-repeat padding-box;
              .profile-loading {
                width: 150px;
                height: 150px;
                display: flex;
                justify-content: center;
                align-items: center;
              }
              .profile-logo-img {
                position: relative;
                border-radius: 50%;
                cursor: pointer;
                object-fit: cover;
                width: 215px;
                height: 215px;
                .input {
                  display: none;
                }
                .profile-img {
                  width: 100%;
                  height: 100%;
                  border-radius: 50%;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .user-info {
    justify-content: space-around;
  }
  .inform-col {
    p {
      font-size: 14px;
      letter-spacing: 0px;
      font-weight: 649;
      color: #222222;
      opacity: 1;
    }
  }
  .user-container {
    margin-top: 30px;
    .user-contain {
      padding-top: 31px;
      padding-bottom: 20px;
      padding-left: 10px;
      padding-right: 5px;
    }
  }
}
@media screen and (min-width: 1000px) {
  .user-container {
    margin-top: 124px;
    padding-top: 51px;
    padding-bottom: 47px;
  }
  .inform-col {
    p {
      font-size: 15px;
      letter-spacing: 0px;
      font-weight: 649;
      color: #222222;
      opacity: 1;
    }
  }
}
