.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./Images/bgImgLarge.png');
  background-repeat: no-repeat;
  height: 100vh;

  .main-component {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 9px 6px #fdebeb;
    border-radius: 20px;
    padding: 20px;
    width: 480px;
    height: 430px;
    .welcome-title {
      font-size: 24px !important;
      text-align: center;
      font-weight: bolder !important;
    }

    .login {
      border: none;
      width: 480px;
      input {
        border: none;
        border-bottom: 2px solid #d8d8d8;
        border-radius: unset;
        font-size: 15px;

        font-weight: 500;
        width: 100%;
      }

      .ant-input:focus {
        outline: white !important;
        box-shadow: none;
      }

      .title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: var(--montserrat-font);
        color: #000;
        text-align: center;
      }
      .username-input {
        border: none;
        margin-top: 10px;
        label {
          font-size: 14px;
          margin-left: 35px;
          font-weight: bold;
        }
        .ant-input-affix-wrapper {
          border: none;
        }
      }

      .password-input {
        margin-top: 10px;
        label {
          font-size: 14px;
          margin-left: 35px;
          font-weight: bold;
        }
        .ant-input-affix-wrapper {
          border: none;
        }
      }

      .login-button {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .ant-card-body {
        transition: all 0.2s linear;
        padding: 0px;
      }

      .ant-card-bordered {
        border: none !important;
      }

      .user-create {
        span {
          color: #000;
        }
      }
    }

    .login-form {
      margin-top: 2rem;
      border: none;
    }

    .login-form-button {
      border-radius: 19px;
      font-size: 16px;
      height: 40px;
      color: #fef8f8;
      border: none;
      margin-top: 30px;
      padding: 8px 0px;
      box-shadow: 0 0 0 2px rgba(82, 116, 251, 0.18);
      background-color: #e53935;
    }
  }
}
.userProfile {
  display: flex;
  justify-content: center;
  background: white;
  height: 100vh;
  margin: 30px;
  .userContainer {
    border-radius: 15px;
    padding: 10px;
    max-width: 700px;
    width: 100%;
    height: 300px;
    background: #ffffff;
    box-shadow: 0 0 6px black;
    .setting {
      font-size: 15px;
      font-weight: bold;
      border-bottom: 1px solid black;
      p {
        margin-left: 26px;
      }
    }

    .userContain {
      display: flex;
      height: 250px;
      align-items: center;
      .userDetail {
        margin-left: 26px;
        width: 100%;
        .user {
          opacity: 0.4;
          font-size: 15px;
          width: 100%;
          font-weight: bold;
          border-bottom: 1px solid black;
          p {
            margin-bottom: 5px;
          }
        }
        .detail {
          opacity: 0.4;
          font-size: 15px;
          font-weight: bold;
          border-bottom: 1px solid black;
          p {
            margin-top: 25px;
            margin-bottom: 5px;
          }
        }
      }
      .userImg {
        width: 50%;
        position: relative;
        .profileImg {
          width: 200px;
          height: 200px;
          border-radius: 50%;
          box-shadow: 0 0 9px #eb6b67;
          object-fit: cover;
        }
        .profileLoading {
          width: 150px;
          height: 150px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .userImgIcon {
          width: 50px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          right: 20px;
          cursor: pointer;
          position: absolute;
          bottom: 0;
          background: rgb(103, 77, 199);
        }
      }
    }
  }
}
