.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./Images/bgImgLarge.png');
  background-repeat: no-repeat;
  height: 100vh;

  .main-component {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 9px 6px #fdebeb;
    border-radius: 20px;
    padding: 20px;
    width: 480px;
    height: 430px;
    .welcome-title {
      font-size: 24px !important;
      text-align: center;
      font-weight: bolder !important;
    }

    .login {
      border: none;
      width: 480px;
      input {
        border: none;
        border-bottom: 2px solid #d8d8d8;
        border-radius: unset;
        font-size: 15px;

        font-weight: 500;
        width: 100%;
      }

      .ant-input:focus {
        outline: white !important;
        box-shadow: none;
      }

      .title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: var(--montserrat-font);
        color: #000;
        text-align: center;
      }
      .username-input {
        border: none;
        margin-top: 10px;
        label {
          font-size: 14px;
          margin-left: 35px;
          font-weight: bold;
        }
        .ant-input-affix-wrapper {
          border: none;
        }
      }

      .password-input {
        margin-top: 10px;
        label {
          font-size: 14px;
          margin-left: 35px;
          font-weight: bold;
        }
        .ant-input-affix-wrapper {
          border: none;
        }
      }

      .login-button {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .ant-card-body {
        transition: all 0.2s linear;
        padding: 0px;
      }

      .ant-card-bordered {
        border: none !important;
      }

      .user-create {
        span {
          color: #000;
        }
      }
    }

    .login-form {
      margin-top: 2rem;
      border: none;
    }

    .login-form-button {
      border-radius: 19px;
      font-size: 16px;
      height: 40px;
      color: #fef8f8;
      border: none;
      margin-top: 30px;
      padding: 8px 0px;
      box-shadow: 0 0 0 2px rgba(82, 116, 251, 0.18);
      background-color: #e53935;
    }
  }
}

.user-profile {
  height: 100vh;
  .content-name {
    margin-left: 3%;
  }
  .user-container {
    border-radius: 15px;
    margin-top: 10px;
    padding: 20px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background: #ffffff;
    box-shadow: 0 0 2px #d3d3d3;
    .user-contain {
      justify-content: space-around;
      align-items: center;

      .user-info {
        display: flex;
        .seller-name {
          text-align: left;
          p {
            font-size: 20px;
            font-weight: bold;
          }
        }
        .seller {
          text-align: center;
          p {
            font-size: 20px;
            font-weight: bold;
          }
        }
      }
      .user-detail {
        .user-details {
          max-width: 100%;
          p {
            font-size: 25px;
            margin: 0px;
            opacity: 0.7;
          }
        }
      }
      .upload-image-contain {
        display: flex;
        .user-img {
          display: flex;
          flex-direction: column;
          justify-content: center;

          .user-img-logo {
            display: flex;
            justify-content: center;
            .profile-head {
              position: relative;
              .upload-image {
                cursor: pointer;
                position: absolute;
                width: 50px;
                height: 50px;
                display: flex;
                border-radius: 50%;
                justify-content: center;
                align-items: center;
                bottom: 0;
                right: 10px;
                background-color: #7145df;
                .add-photo {
                  .input {
                    display: none;
                  }
                }
              }
              .profile-img {
                position: relative;
                width: 200px;
                height: 200px;
                border-radius: 50%;
                box-shadow: 0 0 9px #eb6b67;
                object-fit: cover;
              }

              .profile-loading {
                width: 150px;
                height: 150px;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .user-info {
    justify-content: space-between;
  }
  .upload-image {
    text-align: center;
  }
}
@media screen and (min-width: 1000px) {
  .user-info {
    justify-content: space-aroun;
  }
}
