.img-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img{
    height:476px;
  }
  @media only screen and (max-width: 600px){
    img{
      width: 189px;
      margin-top: 10%;
    }
  }
}


