.apexcharts-toolbar {
    display: none !important;
}

/* .apexcharts-tooltip {
    background-color: rgb(33, 238, 6);
    color: green;
  } */
.charts-tabs {
    display: flex;
}

.charts-tabs li {
    list-style: none;
}

.charts-tabs li .drop-btn {
    border: 1px solid black;
    border-radius: 40px;
}