.dashboard-page {
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  align-items: center;

  .impression-img {
    background-image: url('../Images/pink-bg-img.png');
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 20px;
    justify-content: space-between;
    width: 100%;
    .row {
      display: flex;
      justify-content: space-between;
      .logo {
        display: flex;
        align-items: center;
        .icon-img {
          display: flex;
          flex-direction: column;
          .event-name {
            font-weight: bold;
            margin-top: 10px;
            font-size: 24px;
            letter-spacing: 0px;
            color: #222222;
          }
          .icon-img-back {
            background: white;
            border-radius: 50%;
            width: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              padding: 10px;
            }
          }

          p {
            margin: 0px;
            font-size: 21px;
            color: #222222;
            font-weight: 600;
          }
        }
      }

      .column-wid {
        background: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 18px;
        margin-top: 10px;
        box-shadow: 0 0 10px #00000029;
        .basic {
          font-size: 18px;
          font-weight: bold;
          color: #222222;
          margin: 0px;
        }
        .percentage {
          margin: 0px;
          margin-top: 33px;
          margin-bottom: 8px;
          font-size: 18px;
          font-weight: bold;
          letter-spacing: 0px;
          color: #bbbbbb;
        }
        .diffrence {
          border-top: 1px solid #707070;
          padding-top: 3px;
          font-weight: 900;
          font-size: 21px;
          letter-spacing: 0px;
          color: #222222;
        }
      }
    }
  }

  .clicks-img {
    background-image: url('../Images/blue-bg-img.png');
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 20px;
    justify-content: space-between;
    width: 100%;
    .row {
      display: flex;
      justify-content: space-between;
      .logo {
        display: flex;
        align-items: center;
        .icon-img {
          display: flex;
          flex-direction: column;
          .event-name {
            font-weight: bold;
            margin-top: 10px;
            font-size: 24px;
            letter-spacing: 0px;
            color: #222222;
          }
          .icon-img-back {
            background: white;
            border-radius: 50%;
            width: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              padding: 10px;
            }
          }

          p {
            margin: 0px;
            font-size: 21px;
            color: #222222;
            font-weight: 600;
          }
        }
      }

      .column-wid {
        background: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 18px;
        margin-top: 10px;
        box-shadow: 0 0 10px #00000029;
        .basic {
          font-size: 18px;
          font-weight: bold;
          color: #222222;
          margin: 0px;
        }
        .percentage {
          margin: 0px;
          margin-top: 33px;
          margin-bottom: 8px;
          font-size: 18px;
          font-weight: bold;
          letter-spacing: 0px;
          color: #bbbbbb;
        }
        .diffrence {
          border-top: 1px solid #707070;
          font-weight: 900;
          padding-top: 3px;
          font-size: 21px;
          letter-spacing: 0px;
          color: #222222;
        }
      }
    }
  }

  .favourite-img {
    background-image: url('../Images/green-bg-img.png');
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 20px;
    justify-content: space-between;
    width: 100%;
    .row {
      display: flex;
      justify-content: space-between;
      .logo {
        display: flex;
        align-items: center;
        .icon-img {
          display: flex;
          flex-direction: column;
          .event-name {
            font-weight: bold;
            margin-top: 10px;
            font-size: 24px;
            letter-spacing: 0px;
            color: #222222;
          }
          .icon-img-back {
            background: white;
            border-radius: 50%;
            width: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              padding: 10px;
            }
          }

          p {
            margin: 0px;
            font-size: 21px;
            color: #222222;
            font-weight: 600;
          }
        }
      }

      .column-wid {
        background: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 18px;
        margin-top: 10px;
        box-shadow: 0 0 10px #00000029;
        .basic {
          font-size: 18px;
          font-weight: bold;
          color: #222222;
          margin: 0px;
        }
        .percentage {
          margin: 0px;
          margin-top: 33px;
          margin-bottom: 8px;
          font-size: 18px;
          font-weight: bold;
          letter-spacing: 0px;
          color: #bbbbbb;
        }
        .diffrence {
          border-top: 1px solid #707070;
          font-weight: 900;
          font-size: 21px;
          padding-top: 3px;
          letter-spacing: 0px;
          color: #222222;
        }
      }
    }
  }

  .call-to-action-img {
    background-image: url('../Images/brown-bg-img.png');
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 20px;
    justify-content: space-between;
    width: 100%;
    .row {
      display: flex;
      justify-content: space-between;
      .logo {
        display: flex;
        align-items: center;
        .icon-img {
          display: flex;
          flex-direction: column;
          .event-name {
            font-weight: bold;
            margin-top: 10px;
            font-size: 24px;
            letter-spacing: 0px;
            color: #222222;
          }
          .icon-img-back {
            background: white;
            border-radius: 50%;
            width: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              padding: 10px;
            }
          }

          p {
            margin: 0px;
            font-size: 21px;
            color: #222222;
            font-weight: 600;
          }
        }
      }

      .column-wid {
        background: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 18px;
        margin-top: 10px;
        box-shadow: 0 0 10px #00000029;
        .basic {
          font-size: 18px;
          font-weight: bold;
          color: #222222;
          margin: 0px;
        }
        .percentage {
          margin: 0px;
          margin-top: 33px;
          margin-bottom: 8px;
          font-size: 18px;
          font-weight: bold;
          letter-spacing: 0px;
          color: #bbbbbb;
        }
        .diffrence {
          border-top: 1px solid #707070;
          font-weight: 900;
          font-size: 21px;
          letter-spacing: 0px;
          padding-top: 3px;
          color: #222222;
        }
      }
    }
  }
}

apexcharts-toolbar {
  display: none !important;
}

.ant-tabs-tab.ant-tabs-tab-active {
  border-bottom: 2px solid #f44336 !important;
  color: black !important;
  z-index: 2;
}

.testing {
  border-bottom: 2px solid #f44336 !important;
  color: black !important;
  z-index: 2;
}

.drop-btn {
  border: 1px solid black;
  border-radius: 40px;
}

.charts-datas {
  position: relative;

  div {
    margin: 0px 2px;
  }
}

:where(.css-dev-only-do-not-override-ph9edi).ant-tabs {
  background: rgb(246 246 246);
  padding: 20px;
  border-radius: 9px;
  position: relative;
}

:where(.css-dev-only-do-not-override-ph9edi).ant-tabs .ant-tabs-tab-btn {
  outline: none;
  transition: all 0.3s;
  font-size: 17px;
  color: grey;
}

:where(.css-dev-only-do-not-override-ph9edi).ant-tabs
  .ant-tabs-tab.ant-tabs-tab-active
  .ant-tabs-tab-btn {
  color: #000000;
  font-size: 17px;
  text-shadow: 0 0 0.25px currentcolor;
  font-weight: 400;
}
@media screen and (min-width: 1000px) {
  .row {
    padding: 46px 50px 46px 33px;
    .logo {
      justify-content: center;
      .icon-img {
        .icon-img-back {
          margin: auto;
        }
      }
    }
  }
  .column-wid {
    padding: 25px 29px 28px 29px;
  }
}

@media screen and (max-width: 1000px) {
  .row {
    padding: 20px 12px;
  }
  .logo {
    .icon-img {
      margin-bottom: 20px;
    }
  }
  .column-wid {
    padding: 25px 1px 28px 18px;
  }
}

.ant-row .row .css-dev-only-do-not-override-1e3x2xa {
  display: block;
}
