
.dashboard-page {
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;

    .impression-img {
        background-image: url("../Images/pink-bg-img.png");
        background-repeat: no-repeat;
        background-size: 100%;
        border-radius: 20px;
    }

    .clicks-img {
        background-image: url("../Images/blue-bg-img.png");
        background-repeat: no-repeat;
        background-size: 100%;
        border-radius: 20px;
    }

    .favourite-img {
        background-image: url("../Images/green-bg-img.png");
        background-repeat: no-repeat;
        background-size: 100%;
        border-radius: 20px;
    }

    .call-to-action-img {
        background-image: url("../Images/brown-bg-img.png");
        background-repeat: no-repeat;
        background-size: 100%;
        border-radius: 20px;
    }

    .card-alignment {
        padding: 45px 30px 45px 30px;
        display: flex;
        align-items: center;

        .percentage {
            border-bottom: 1px solid;
            max-width: fit-content;
            margin: 18px 0px 5px 0px;
            color: #BBBBBB;
        }

        .diffrence {
            font-size: 17px;
            font-weight: bold;
        }

        .icon-img {
            text-align: center;

            p {
                font-size: 21px;
                color: #222222;
                font-weight: 600;
            }
        }

        .icon-img img {
            background: white;
            border-radius: 50%;
            padding: 10px;
        }

    }
}
