.dashboard-page {
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;

  .impression-img {
    background-image: url('../Images/pink-bg-img.png');
    background-repeat: no-repeat;
    border-radius: 20px;
    width: 100%;
    display: flex;
    padding: 45px 30px 45px 30px;
    .content{
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      .columnWid {
        max-width: 100%;
        margin-left: 10px;
        height: 150px;
        background: #FFFFFF;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        box-shadow: 0 0 10px #00000029;
      }
    }
    .contentLogo {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
    }

    
  }

  .clicks-img {
    background-image: url('../Images/blue-bg-img.png');
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 20px;
    padding: 45px 30px 45px 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .favourite-img {
    background-image: url('../Images/green-bg-img.png');
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 20px;
    padding: 45px 30px 45px 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .call-to-action-img {
    background-image: url('../Images/brown-bg-img.png');
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 20px;
    padding: 45px 30px 45px 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .percentage {
    border-bottom: 1px solid;
    max-width: fit-content;
    margin: 18px 0px 5px 0px;
    color: #bbbbbb;
  }
  .columnWid {
    max-width: 500px;
    min-width: 150px;
    width: 100%;
    height: 150px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    box-shadow: 0 0 10px #00000029;
  }
  .diffrence {
    font-size: 17px;
    font-weight: bold;
  }

  .icon-img {
    text-align: center;

    .icon-img-back {
      background: white;
      border-radius: 50%;
      width: 60px;
      display: flex;
      justify-content: center;
      margin: auto;
    }

    p {
      font-size: 21px;
      color: #222222;
      font-weight: 600;
    }
  }

  .icon-img img {
    padding: 10px;
  }
}

apexcharts-toolbar {
  display: none !important;
}

.ant-tabs-tab.ant-tabs-tab-active {
  border-bottom: 2px solid #f44336 !important;
  color: black !important;
  z-index: 2;
}

.testing {
  border-bottom: 2px solid #f44336 !important;
  color: black !important;
  z-index: 2;
}

.drop-btn {
  border: 1px solid black;
  border-radius: 40px;
}

.charts-datas {
  position: relative;

  div {
    margin: 0px 2px;
  }
}

:where(.css-dev-only-do-not-override-ph9edi).ant-tabs {
  background: rgb(246 246 246);
  padding: 20px;
  border-radius: 9px;
  position: relative;
}

:where(.css-dev-only-do-not-override-ph9edi).ant-tabs .ant-tabs-tab-btn {
  outline: none;
  transition: all 0.3s;
  font-size: 17px;
  color: grey;
}

:where(.css-dev-only-do-not-override-ph9edi).ant-tabs
  .ant-tabs-tab.ant-tabs-tab-active
  .ant-tabs-tab-btn {
  color: #000000;
  font-size: 17px;
  text-shadow: 0 0 0.25px currentcolor;
  font-weight: 400;
}
