.header {
  background: #ffffff 0% 0% no-repeat padding-box;
  height: 100vh;
  width: 100%;
  position: fixed;
  box-shadow: 3px 0px 6px #00000029;

  .layout-right {
    width: 100%;
    .content {
      overflow-y: auto;
      margin-top: 4px;
      background-color: #ffffff;
      .sider-menu {
        box-shadow: 3px 0px 6px #00000029;
        background-color: transparent;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 0px;
        padding: 0px;
        color: #222222;
      }
    }

    .header-content {
      background: #ffffff 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 0px 0px #00000029;
      padding: 0px;
      .header-content-row {
        align-items: center;
        display: flex;
        .menu-icon {
          .header-content-icon {
            cursor: pointer;
            .open-icon {
            left: -39px;
            top: 40%;
            position: absolute;
            }
          }

          .header-content-name {
            font-size: 18px;
            margin-left: 25px;
            font-weight: bold;
            letter-spacing: 0px;
            color: #222222;
            text-transform: uppercase;
          }
        }
        .header-left-content {
          .header-left {
            display: flex;
            .menu-icon {
              .header-content-icon {
                cursor: pointer;
                position: absolute;
                margin-top: -16px;
              }

              .header-content-name {
                font-size: 15px;
                width: 300px;
                margin-left: 50px;
                font-weight: bold;
                letter-spacing: 0px;
                color: #222222;
                text-transform: uppercase;
              }
            }
            .header-logo {
              display: flex;
              text-align: center;
              margin-right: 20px;
              align-items: center;
            }
          }
        }
        .header-right-content {
          display: flex;
          .header-user-name {
            margin-right: 20px;
            font-size: 18px;
            text-transform: uppercase;
            font-weight: bold;
          }

          .avatar {
            display: flex;
            align-items: center;
            cursor: pointer;
            .profile-img {
              width: 45px;
              height: 45px;
              border-radius: 50%;
              box-shadow: 0 0 9px #eb6b67;
              object-fit: cover;
            }
          }
        }
      }
    }

    .header-content-logo {
      display: flex;
      flex-direction: row;
      align-items: center;

      .notification {
        position: relative;
        display: flex;
        align-items: center;
        margin-right: 39px;

        svg {
          width: 25px;
          height: 25px;
          color: #000000;
        }

        .notification-count {
          position: absolute;
          top: 0px;
          right: 0;
          width: 11px;
          height: 11px;
          background: #ff0600 0% 0% no-repeat padding-box;
          border-radius: 7px;
        }
      }
    }
  }

  .header-sider {
    background: transparent;

    &.ant-layout-sider-trigger {
      display: none !important;
    }

    .header-sider-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 64px;

      .sider-logo-head {
        width: 281px;
        display: flex;
        align-items: center;
        .logo-symbol-small {
          margin-left: 34px;
          max-width: 100%;
          max-height: 100%;
        }
        .logo-symbol-large {
          margin-left: 47px;
          max-width: 100%;
          max-height: 100%;
        }
      }
    }

    .sider-menu {
      margin-top: 2px;
      box-shadow: 3px 0px 6px #00000029;
      background-color: transparent;
      font-size: 15px;
      font-weight: 500;
      letter-spacing: 0px;
      padding: 0px;
      height: 100vh;
      color: #222222;

      .sider-menu-item {
        nav {
          display: flex;
          flex-direction: column;
          margin-top: 14px;
          margin-left: 13px;

          li {
            display: flex;
            align-items: center;
            &.logout {
              margin-top: 550px;
            }
            &:hover {
              background-color: transparent;
              color: #e53935;
            }
          }

          .products,
          .dashboard,
          .insights,
          .wallet,
          .setting,
          .help,
          .logout {
            background: transparent;

            a {
              text-align: left;
              font-size: 15px;
              color: #222222;
              text-transform: uppercase;
              background: transparent;

              &:focus {
                color: #e53935;
              }
              span {
                margin-right: 31px;
              }
            }
          }
        }
      }

      .menu-item {
        display: flex;
        flex-direction: column;
        border-top: 1px solid #bbbbbb;
        margin-top: 400px;
        .menu-logo-item {
          height: 24px;
          margin-top: 17px;
          .menu-logo-icon-small {
            margin-left: 36px;
          }
          .menu-logo-icon-large {
            margin-left: 50px;
          }

          p {
            margin-top: 11px;
            height: 15px;
            font-size: 12px;
            letter-spacing: 0px;
            color: #bbbbbb;
          }
        }
      }
    }
  }
}

.ant-dropdown .ant-dropdown-menu,
.ant-dropdown-menu-submenu .ant-dropdown-menu {
  border-radius: 0px;
  width: 100vw;
  margin-top: -2px;
  .ant-dropdown-menu-item {
    .ant-dropdown-menu-title-content {
      .products,
      .dashboard,
      .insights,
      .wallet,
      .setting,
      .help,
      .logout {
        background: transparent;
        a {
          text-align: left;
          font-size: 18px;
          letter-spacing: 0px;
          color: #222222;
          text-transform: uppercase;
          background: transparent;

          &:focus {
            color: #e53935;
          }

          span {
            font-size: 15px;
            letter-spacing: 0px;
            color: #222222;
            text-transform: uppercase;
            svg {
              margin-right: 25px;
            }
          }
        }
      }
      .activeMenu {
        a {
          text-align: left;
          font-size: 18px;
          letter-spacing: 0px;
          color: #e53935;
          text-transform: uppercase;
          background: transparent;

          &:focus {
            color: #222222;
          }

          span {
            font-size: 15px;
            letter-spacing: 0px;
            color: #e53935;
            text-transform: uppercase;
            svg {
              margin-right: 25px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .header-content-row {
    justify-content: space-around;
  }
  .ant-popover .ant-popover-inner {
    margin-top: 9px;
    width: 307px;
    margin-right: 7px;
    height: 192px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 9px #00000029;
    border-radius: 6px;
    padding: 0px;
  }
  .ant-popover-inner-content .avatar-image-contain {
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1000px) {
  .header-content-row {
    justify-content: space-between;
    padding-right: 25px;
  }
  .ant-popover .ant-popover-inner {
    margin-right: 35px;
    margin-top: 9px;
    width: 426px;
    height: 192px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 9px #00000029;
    border-radius: 6px;
    padding: 0px;
  }
  .ant-popover-inner-content .avatar-image-contain {
    display: flex;
  }
}

.ant-menu-light.ant-menu-inline .ant-menu-item {
  color: #e53935;
  background-color: transparent;
  text-align: left;
  font-size: 15px;
  text-transform: uppercase;
  background: transparent;
  span {
    display: flex;
    align-items: center;
    svg {
      margin-right: 28px;
      margin-left: 30px;
    }
  }
}

.ant-menu-light.ant-menu-vertical .ant-menu-item {
  color: #e53935;
  background-color: transparent;
  text-align: left;
  font-size: 15px;
  text-transform: uppercase;
  background: transparent;
  span {
    display: flex;
    align-items: center;
  }
}

.ant-popover-title {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 9px #00000029;
  border-radius: 6px;
  padding-left: 43px;
  padding-right: 18px;
  margin-bottom: 0px;
  .avatar-title {
    display: flex;
    height: 42px;
    justify-content: space-between;
    align-items: center;
    .logout {
      font-size: 15px;
      font-weight: bold;
      letter-spacing: 0px;
      color: #222222;
    }
  }
}

.ant-popover-inner-content {
  height: 140px;
  display: flex;
  flex-direction: column;

  padding: 15px 0px;
  .avatar-image-contain {
    .avatar-img {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .avatar-img-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        .profile-head {
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100px;
          height: 100px;
          background: #e53935 0% 0% no-repeat padding-box;
          .profile-logo-img {
            border-radius: 50%;
            object-fit: cover;
            width: 96px;
            height: 96px;
            img {
              width: 100%;
              height: 100%;
              border-radius: 50%;
            }
          }
        }
      }
    }
    .avatar-detail {
      display: flex;
      justify-content: center;
      .avatar-info-icon {
        justify-content: space-between;
        .seller-name {
          .name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0;
            font-size: 20px;
            font-weight: bold;
            color: #222222;
            width: 270px;
          }
          .email {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0;
            font-size: 15px;
            color: #222222;
            width: 270px;
          }
        }
        .seller-profile {
          margin-top: 23px;
          .my-profile {
            text-decoration: underline;
            font-size: 14px;
            font-weight: bold;
            margin: 0;
            letter-spacing: 0px;
            color: #e53935;
          }
        }
      }
    }
  }
}
.image-bright {
  opacity: 5;
  width: 20px;
  margin-right: 15px;
  color: white;
}
.image-dim {
  width: 20px;
  opacity: 50%;
  margin-right: 15px;

}
.Sider-Layout {
  z-index: 2;
  .ant-menu.ant-menu-inline-collapsed{
    width: 50px !important;
  }
  span {
    margin-left: 5px !important;
  }
  .ant-layout-sider-children {
    background-color: #570026;
    position: fixed;
    .ant-menu-item{
      padding-left: 1px !important;
    }
    .ant-menu-item-selected{
      padding-left: 1px !important;
    }
    .ant-menu-title-content{
      align-items: left;
    }
    overflow-y: scroll;
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    &::-webkit-scrollbar {
      width: 1px;
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: transparent;
      background-image: none;
    }
    &::-webkit-scrollbar-corner {
      display: none;
      height: 0px;
      width: 0px;
    }
  }
  .ant-menu-submenu-title {
    padding-left: 0px !important;
  }
  
}
.logoC {
  height: 150px;
  width: 207px;
  object-fit: fill;
}
.logoColumbus {
  height: 50px;
  width: 50px;
  object-fit: contain;
}
.logoss {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  background-color: #570026;
  padding: 2px 0;
  p{
    margin: 0;
    color: #fff;
    padding: 0 1px;
  }
}
.side-menu {
  min-height: auto;
  margin-top: 155px !important;
  &.ant-menu.ant-menu-dark {
    width: 207px;
    background-color: #570026;
    & .ant-menu-submenu-selected {
      background-color: #570026;
      & .ant-menu-item-selected {
        background-color: #570026;
      }
    }
  }
}
.side-menu-collapsed {
  min-height: auto;
  margin-top: 60px !important;
  &.ant-menu.ant-menu-dark {
    width: 207px;
    background-color: #570026;
    & .ant-menu-item-selected {
      background-color: #570026;
    }
    & .ant-menu-submenu-selected {
      background-color: #570026;
      & .ant-menu-item-selected {
        background-color: #570026;
      }
    }
  }
}
.hide {
  display: none !important;
}
.main-layout {
  height: auto !important;
  background: #fcfdfe !important;
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 4px 4px #00000036;
    background-color: #f9f9f9;
    border-radius: 0em;
  }
}

.submenu-item {
  .ant-menu-submenu-title {
    padding-left: 0px !important;
  }
}

.main-content {
  margin: 16px;
  min-height: auto !important;
  height: auto;
}

.spin-Loading {
  .ant-spin-dot {
    position: absolute !important;
    top: 30%;
    left: 55%;
  }
}
.ant-menu-dark.ant-menu-inline {
  background-color: 'white';
}
.new-submenu {
  background-color: white;
  color: #222222;
  .ant-menu-dark.ant-menu-inline .ant-menu-sub.ant-menu-inline {
    background-color: none !important;
  }
  
}
.subimage-bright {
  opacity: 5;
  width: 20px;
  margin-right: 17px;
}
.subimage-dim {
  width: 20px;
  opacity: 50%;
  margin-right: 17px;

}
.selected-submenu {
  color: #C20155;
}

.unselected-submenu {
  color: #222222;
}

.ant-menu-submenu-open {
  .ant-menu-submenu-active{
.ant-menu-dark.ant-menu-inline .ant-menu-sub.ant-menu-inline {
  background-color: #570026 !important;
}
  }
}
