.header {
  background: #ffffff 0% 0% no-repeat padding-box;
  height: 100vh;
  width: 100%;
  position: fixed;
  box-shadow: 3px 0px 6px #00000029;

  .layout-right {
    width: 100%;
    .content {
      overflow-y: scroll;
      margin-top: 4px;
      background-color: #ffffff;
      .sider-menu {
        box-shadow: 3px 0px 6px #00000029;
        background-color: transparent;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 0px;
        padding: 0px;
        color: #222222;

        .sider-menu-item {
          nav {
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            margin-left: 13px;
            li {
              color: #222222;
              background: transparent;

              a {
                text-align: left;
                font-size: 15px;
                letter-spacing: 0px;
                background: none;
                span {
                  margin-right: 31px;
                  width: 18px;
                  height: 17px;
                  img {
                    background: #222222 0% 0% no-repeat padding-box;
                  }
                }
              }
            }
          }
        }

        .menu-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 150%;
          border-top: 1px solid #bbbbbb;

          .menu-logo-item {
            height: 24px;
            margin-top: 17px;

            p {
              margin-top: 11px;
              height: 15px;
              font-size: 12px;
              letter-spacing: 0px;
              color: #bbbbbb;
            }
          }
        }
      }
    }

    .header-content {
      background: #ffffff 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 0px 0px #00000029;
      padding: 0px;
      .header-content-row {
        align-items: center;
        display: flex;
        .menu-icon {
          .header-content-icon {
            cursor: pointer;
            position: absolute;
          }

          .header-content-name {
            font-size: 18px;
            margin-left: 50px;
            font-weight: bold;
            letter-spacing: 0px;
            color: #222222;
            text-transform: uppercase;
          }
        }
        .header-left-content {
          .header-left {
            display: flex;
            .menu-icon {
              .header-content-icon {
                cursor: pointer;
                position: absolute;
                margin-top: -16px;
              }

              .header-content-name {
                font-size: 15px;
                width: 300px;
                margin-left: 50px;
                font-weight: bold;
                letter-spacing: 0px;
                color: #222222;
                text-transform: uppercase;
              }
            }
            .header-logo {
              display: flex;
              text-align: center;
              margin-right: 20px;
              align-items: center;
            }
          }
        }
        .header-right-content {
          display: flex;
          .header-user-name {
            margin-right: 20px;
            font-size: 18px;
            text-transform: uppercase;
            font-weight: bold;
          }

          .avatar {
            display: flex;
            align-items: center;
            cursor: pointer;
            .profile-img {
              width: 45px;
              height: 45px;
              border-radius: 50%;
              box-shadow: 0 0 9px #eb6b67;
              object-fit: cover;
            }
          }
        }
      }
    }

    .header-content-logo {
      display: flex;
      flex-direction: row;
      align-items: center;

      .notification {
        position: relative;
        display: flex;
        align-items: center;
        margin-right: 39px;

        svg {
          width: 25px;
          height: 25px;
          color: #000000;
        }

        .notification-count {
          position: absolute;
          top: 0px;
          right: 0;
          width: 11px;
          height: 11px;
          background: #ff0600 0% 0% no-repeat padding-box;
          border-radius: 7px;
        }
      }

      .image-logo {
        height: 43px;
        background: #e53935 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 7px #e53935;
        border-radius: 20px;

        img {
          width: 43px;
          height: 43px;
          border-radius: 20px;
        }
      }
    }
  }

  .header-sider {
    background: transparent;

    &.ant-layout-sider-trigger {
      display: none !important;
    }

    .header-sider-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 64px;

      .sider-logo-head {
        width: 281px;
        display: flex;
        justify-content: center;
      }
    }

    .sider-menu {
      margin-top: 2px;
      box-shadow: 3px 0px 6px #00000029;
      background-color: transparent;
      font-size: 15px;
      font-weight: 500;
      letter-spacing: 0px;
      padding: 0px;
      height: 100vh;
      color: #222222;

      .sider-menu-item {
        nav {
          display: flex;
          flex-direction: column;
          margin-top: 10px;
          margin-left: 13px;

          li {
            &.logout {
              margin-top: 550px;
            }
          }

          .products,
          .dashboard,
          .insights,
          .wallet,
          .setting,
          .help,
          .logout {
            background: transparent;

            a {
              text-align: left;
              font-size: 15px;
              letter-spacing: 0px;
              color: #222222;
              text-transform: uppercase;
              background: transparent;

              &:focus {
                color: #e53935;
              }

              span {
                margin-right: 31px;

                svg {
                  width: 100%;
                  height: 100%;
                }
              }
            }
          }
        }
      }

      .menu-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 150%;
        border-top: 1px solid #bbbbbb;

        .menu-logo-item {
          height: 24px;
          margin-top: 17px;

          p {
            margin-top: 11px;
            height: 15px;
            font-size: 12px;
            letter-spacing: 0px;
            color: #bbbbbb;
          }
        }
      }
    }
  }
}

:where(.css-dev-only-do-not-override-1e3x2xa).ant-dropdown .ant-dropdown-menu,
:where(.css-dev-only-do-not-override-1e3x2xa).ant-dropdown-menu-submenu
  .ant-dropdown-menu {
  border-radius: 0px;
  .products,
  .dashboard,
  .insights,
  .wallet,
  .setting,
  .help,
  .logout {
    background: transparent;
    a {
      text-align: left;
      font-size: 18px;
      letter-spacing: 0px;
      color: #222222;
      text-transform: uppercase;
      background: transparent;

      &:focus {
        color: #e53935;
      }

      span {
        margin-right: 31px;

        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .header-content-row {
    justify-content: space-around;
  }
}

@media screen and (min-width: 1000px) {
  .header-content-row {
    justify-content: space-between;
    padding-left: 7px;
    padding-right: 35px;
  }
}

:where(.css-dev-only-do-not-override-1e3x2xa).ant-menu-light.ant-menu-inline
  .ant-menu-item {
  color: #e53935;
  background-color: transparent;
  text-align: left;
  font-size: 15px;
  text-transform: uppercase;
  background: transparent;

  span {
    margin-right: 31px;
  }
}

:where(.css-dev-only-do-not-override-1e3x2xa).ant-menu-light.ant-menu-vertical
  .ant-menu-item {
  color: #e53935;
  background-color: transparent;
  text-align: left;
  font-size: 15px;
  text-transform: uppercase;
  background: transparent;

  span {
    margin-right: 31px;
  }
}

