.header {
  background: #ffffff 0% 0% no-repeat padding-box;
  height: 100vh;
  width: 100%;
  position: fixed;
  box-shadow: 3px 0px 6px #00000029;
  .layoutRight {
    width: 100%;
    .content {
      overflow-y: scroll;
      margin-top: 5px;
      background-color: #ffffff;
    }
    .header_content {
      display: flex;
      justify-content: space-between;
      padding: 0px;
      padding-right: 25px;
      align-items: center;
      background: #ffffff 0% 0% no-repeat padding-box;
      height: 80px;
      box-shadow: 0px 3px 0px 0px #00000029;
      z-index: 1;
      .header_content_icon {
        cursor: pointer;
        position: absolute;
        z-index: 1;
      }
      .header_content_name {
        font-size: 18px;
        margin-left: 42px;
        font-weight: bold;
        letter-spacing: 0px;
        color: #222222;
        text-transform: uppercase;
      }
    }

    .header_content_logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      .notification {
        position: relative;
        display: flex;
        align-items: center;
        margin-right: 39px;
        svg {
          width: 25px;
          height: 25px;
          color: #000000;
        }
        .notificationCount {
          position: absolute;
          top: 0px;
          right: 0;
          width: 11px;
          height: 11px;
          background: #ff0600 0% 0% no-repeat padding-box;
          border-radius: 7px;
        }
      }
      .imageLogo {
        height: 43px;
        background: #e53935 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 7px #e53935;
        border-radius: 20px;

        img {
          width: 43px;
          height: 43px;
          border-radius: 20px;
        }
      }
    }
  }

  .header_sider {
    background: transparent;

    .header_sider_logo {
      display: flex;
      box-shadow: 3px 0px 6px #00000029;
      align-items: center;
      height: 80px;
      .sider_logo_head {
        width: 281px;
        display: flex;
        justify-content: center;
      }
    }
    .sider_menu {
      margin-top: 2px;
      box-shadow: 3px 0px 6px #00000029;
      background-color: transparent;
      font-size: 15px;
      font-weight: 500;
      letter-spacing: 0px;
      padding: 0px;
      height: 100vh;
      color: #222222;
      text-transform: uppercase;
      .sider_menuItem {
        nav {
          display: flex;
          flex-direction: column;
          margin-top: 10px;
          margin-left: 13px;
          li {
            &.setting {
              margin-top: 321px;
            }
          }
          .products,
          .dashboard,
          .insights,
          .wallet,
          .setting,
          .help {
            background: transparent;
            a {
              text-align: left;
              font-size: 15px;
              letter-spacing: 0px;
              color: #222222;
              text-transform: uppercase;
              background: transparent;
              &:focus {
                color: #e53935;
              }
              span {
                margin-right: 31px;
                width: 18px;
                height: 17px;
                svg {
                  width: 100%;
                  height: 100%;
                }
              }
            }
          }
        }
      }
      .menu_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: 1px solid #bbbbbb;
        .menu_logo_item {
          height: 24px;
          margin-top: 17px;
          p {
            margin-top: 11px;
            height: 15px;
            font-size: 12px;
            letter-spacing: 0px;
            color: #bbbbbb;
          }
        }
      }
    }
  }
}
