body {
  margin: 0; 
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.HomePage_header__LHhkP .HomePage_header_sider__mPdg2 .HomePage_sider_logo__rph-P {
  width: 75px;
  height: 40px;
  background: transparent 0% 0% no-repeat padding-box;
  margin-left: 50px;
  display: flex;
}