@font-face {
  font-family: "Gilroy-medium";
  src: url("../src/assets/fonts/Gilroy/Gilroy-Medium.ttf");
}

body, #root {
  margin: 0;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Gilroy-medium' !important;
}
// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//     monospace;
// }
.ant-layout-sider-trigger {
  display: none !important;
}
