body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.ant-layout-sider-trigger {
  display: none !important;
}

.ant-dropdown-menu {
  width: 390px;
}

.ant-row {
  display: block;
}
