.text-div {
  p {
    margin-left: 2%;
    padding-top: 15px;
    color: #000000;
    font-weight: 600;
    font-size: 20px;
  }
}

.profile-col {
  padding-left: 2%;
  // padding-right: 20px;
  

  .ant-card {
    box-shadow: 0px 2px 6px #00000033;
    border-radius: 5px;
    width: 91%;
    position: inherit;
    .ant-card-cover {
      padding: 10%;
      padding-left: 15%;
      .img {
        margin-left: 1%;
        border-radius: 5px !important;
        height: 168px;
        width: 90%;
        position: inherit;

      }
    }

    .ant-card-body {
      padding: 0px !important;
    }

    .ant-card-meta {
      text-align: center;
      margin-bottom: 10px;
    }

    .ant-card-meta-title {
      font-size: 22px;
    }

    .ant-btn-div {
      padding: 15px;
      padding-bottom: 40px;
      .btn-edit{
        height: 38px; 
      }
    }

    .ant-btn {
      width: 100px;
      width: 100%;
      background-color: #570026;
      color: white;
      padding: 5px;
      &:hover{
        color: white;
        border: none;
      }
    }
  


  }
  .edit-profile {
    padding-bottom: 40%;
    .store-ptag{
      margin-left: 15%;
      margin-right: 16.5%;
      background-color: #F2F2F2;
      text-align: left;
      color: #000000;
      font-weight: 600;
      height:0px;
      border-radius: 5px;
   .edit-card-label {
    height:38px;
    color: #000000;
    font-size: 15px !important;
    background-color: #f2f2f2;
    border-color: #a9a9a9;
    padding: 5px;
    padding-left: 10%;
    font-weight: 600;
   }
   .error {
    color: red;
  }
  }
  }
  .profile-pic {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 10%;

    label {
      position: absolute;
      font-size: 14px;
      color: #222222;
      font-weight: 600;
      opacity: 0.7;
      margin-top: 0%;
    }
  }
  .user-img-logo-content {
    position: absolute;
    top: 0%;
    right: 0%;
    left: 0%;
    border: none;
    height: 169px;
    width: 68.5%;
    margin-left: 15.2%;
    margin-top: 9.5%;
    margin-bottom: 50%;
    margin-right: 27.3%;
    border-radius: 5px;
    opacity: 1;
    .camera-icon {
      display: flex;
      top: 0%;
      position: absolute;
      border: none;
      height: 100%;
      width: 100%;
      background-color: #575757;
      cursor: pointer;
      opacity: 0.75;
      border-radius: 5px;
      justify-content: center;
      align-items: center;

      input {
        display: none;
        border: none;
      }
    }

    .camera-icon-hide {
      display: none;
      border: none;
    }

    .profile-head {
      height: 100%;
      width: 100%;
      border-radius: 5px;
      border: none;
      justify-content: center;
      align-items: center;

      .profile-loading {
        width: 150px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

    }
  }
}


.form-col {
  padding-left: 2%;
  padding-right: 4%;

  .right-Column-div {
    background-color: #fff !important;
    border-radius: 5px;
    box-shadow: 0px 2px 6px #00000033;
    border-radius: 5px;
    .cancel-div{
    .cancel-Button-div{
      height: 38px;

      .cancel-Button {
        width: 200px;
        height: 48px;
        font-weight: 600;
        font-size: 15px;
        position: absolute;
        left: 10%;
        border: 1px solid #a9a9a9;
        border-radius: 5px !important;
        // border-height: 2px solid #a9a9a9;
        &:hover{
color: #222222;
border-color: #a9a9a9;
border-width: 2px solid #a9a9a9;

        }
      }
      @media (max-width: 768px) {
          .cancel-Button {
            width: 76%;
            position: absolute;
            left: 13.5%;
          }
        }
       
      }
    }
    
    .submit-Button-div{
      height: 38px;
      .submit-Button {
        width: 200px;
        height: 48px;
        background-color: #570026;
        color: white;
        position: absolute;
        right: 11%;
      }
  }
    .form-row {
      padding: 20px;

      .form-col {
        padding-left: 20px;
        .cancel-Button-div {
          padding: 10px;
          align-items: right;
        .cancel-Button {
          width: 200px;
          height: 48px;
          font-weight: 600;
          font-size: 15px;
          position: absolute;
        }
        
      }
      .ant-select-selector {
        background: #f2f2f2;
        height: 48px;
      }
      .submit-Button-div{
        padding-top: 10%;
        align-items: right;
        .submit-Button {
          width: 200px;
          height: 48px;
          background-color: #570026;
          color: white;
          position: absolute;
          right: 0;
          // transform: translateY(-50%);
        }
        @media (max-width: 425px) {
          .submit-Button {
            // padding: ;
            width: 75%;
          }
        }
      }
      .form-item-select {
        margin-bottom: 0px;
        .ant-select-single.ant-select-lg.ant-select-show-arrow .ant-select-selection-placeholder{
          z-index: 1;
        }
        .ant-select-selector{
          border-radius: 4px !important;
          font-size: 14px;
          color: #222222;
          opacity: 0.8;
          font-weight: 700;
          margin-top: -8px;
          .ant-select-selection-item {
            font-weight: 800;
          }
        }
        label {
          font-size: 14px;
          color: #222222;
          opacity: 0.8;
          font-weight: 600;
          border: none !important;
        }
        Select {
          height: 48px;
          font-size: 14px;
          color: #222222;
          opacity: 1;
          font-weight: 600;
          background: #F2F2F2;
          border-radius: 5px !important;
          border: none !important;
          
        }
        input {
          font-size: 14px;
            color: #222222;
            font-weight: 600;
            opacity: 0.7;
            height: 48px;
            background: #F2F2F2;
            border-radius: 5px;
            border: none !important;
        }
        .error {
          color: red;
        }
      }
      
        .form-item {
          margin-bottom: 0px;

          label {
            font-size: 14px;
            color: #222222;
            opacity: 0.8;
            font-weight: 600;
            border: none !important;
          }
          .error {
            color: red;
          }

          input {
            font-size: 14px;
            color: #222222;
            font-weight: 600;
            opacity: 0.7;
            height: 48px;
            background: #F2F2F2;
            border-radius: 5px;
            margin-bottom: 10px !important;
            border: none !important;
            margin-top: -8px;
          }
        }
      }
    }
  }
}
.ant-select .ant-select-lg .ant-select-in-form-item, .ant-select-selector{
background-color: #8a1616;
height: 48px;
border: none !important;
margin-bottom: 10px !important;
padding-top: 5px !important;
}
.mobile-profile-col{
  padding: 2%;
  .ant-card {
    box-shadow: 0px 2px 6px #00000033;
    border-radius: 5px;
    height: 188px;
margin-right: 2%;
    .img-col{
      .img {
        border-radius: 5px !important;
        margin-left: 5%;
        margin-top: 5%;
        height: 168px;
        width: 90%;
        border-radius: 5px;
      }
    }
    
    .ant-card-body {
      padding: 0px !important;
    }

  .card-profile-body{
    .ant-card-meta {
      margin-top: 25%;
      text-align: center;
      margin-bottom: 15%;
    }

    .ant-card-meta-title {
      font-size: 18px;
    }
    .ant-button-div{
      padding-left: 3%;
    .ant-btn {
      width: 95%;
      height: 38px;
      border-radius: 5px;
      font-size: 14px;
      background-color: #570026;
      color: white;
      text-align: center;
    }
    }
  }
  .edit-profile {
    height: 188px;
    .profile-img-div{
    img{
      position: absolute;
      top: 0%;
      right: 0%;
      left: 0%;
      border: none;
      height: 168px;
      width: 90%;
      margin-left: 5%;
      margin-top: 5%;
      margin-bottom: 0 !important;
      border-radius: 5px;
      opacity: 1;
    }
  }
  .user-img-logo-content {
    position: absolute;
    top: 0%;
    right: 0%;
    left: 0%;
    border: none;
    height: 168px;
    width: 95%;
    margin-left: 4%;
    margin-top: 4%;
    margin-bottom: 0 !important;
    border-radius: 5px;
    opacity: 1;
    .camera-icon {
      display: flex;
      top: 0%;
      position: absolute;
      border: none;
      height: 100%;
      width: 100%;
      background-color: #575757;
      cursor: pointer;
      opacity: 0.75;
      border-radius: 5px;
      justify-content: center;
      align-items: center;

      input {
        display: none;
        border: none;
      }
    }

    .camera-icon-hide {
      display: none;
      border: none;
    }

    .profile-head {
      height: 100%;
      width: 100%;
      border-radius: 5px;
      border: none;
      justify-content: center;
      align-items: center;

      .profile-loading {
        width: 150px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

    }
  }
  }
  .form-store{
    padding-left: 5%;
    margin-right: 5%;
    height: 38px;
  .ant-input{
    height: 38px;
    background-color: #F2F2F2;
    border-color: #a9a9a9;
    border-radius: 5px;
  }
  .form-storeName{
    .edit-card-label{
font-size: 15px;
font-weight: 700;
    }
 .error {
  color: red;
}}
}


  }
}
