.text-div {
  p {
    margin-left: 30px;
    padding-top: 15px;
    color: #000000;
    font-weight: 600;
    font-size: 20px;
  }
}

.profile-col {
  padding-left: 30px;
  padding-right: 20px;
  

  .ant-card {
    box-shadow: 0px 2px 6px #00000033;

    .ant-card-cover {
      padding-left: 14%;
      padding-right: 14%;
      padding-top: 10%;
      padding-bottom: 10%;

      .img {
        border-radius: 5px !important;
        height: 168px;
        width: 100%;
      }
    }

    .ant-card-body {
      padding: 0px !important;
    }

    .ant-card-meta {
      text-align: center;
      margin-bottom: 10px;
    }

    .ant-card-meta-title {
      font-size: 22px;
    }

    .ant-btn-div {
      padding: 10px;
      padding-bottom: 40px;
    }

    .ant-btn {
      width: 100px;
      width: 100%;
      background-color: #570026;
      color: white;
      padding: 5px;
    }
  


  }
  .edit-profile {
    padding-bottom: 40%;
    .store-ptag{
      margin-left: 13%;
      margin-right: 15%;
      background-color: #F2F2F2;
      text-align: left;
      font-size: 13px;
      color: #000000;
      font-weight: 600;
      border: 1px solid #a9a9a9;
      padding: 5px;
      border-radius: 5px;
   .edit-card-label {
    padding: 10px;
   }
  }
  }
  .profile-pic {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 10%;

    label {
      position: absolute;
      font-size: 14px;
      color: #222222;
      font-weight: 600;
      opacity: 0.7;
      margin-top: 0%;
    }
  }
  .user-img-logo-content {
    position: absolute;
    top: 0%;
    right: 0%;
    left: 0%;
    border: none;
    height: 168px;
    width: 73%;
    margin-left: 13%;
    margin-top: 10%;
    margin-bottom: 50%;
    margin-right: 27%;
    border-radius: 5px;
    opacity: 1;
    .camera-icon {
      display: flex;
      top: 0%;
      position: absolute;
      border: none;
      height: 100%;
      width: 100%;
      background-color: #575757;
      cursor: pointer;
      opacity: 0.75;
      border-radius: 5px;
      justify-content: center;
      align-items: center;

      input {
        display: none;
        border: none;
      }
    }

    .camera-icon-hide {
      display: none;
      border: none;
    }

    .profile-head {
      height: 100%;
      width: 100%;
      border-radius: 5px;
      border: none;
      justify-content: center;
      align-items: center;

      .profile-loading {
        width: 150px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

    }
  }
}


.form-col {
  padding-left: 10px;
  padding-right: 20px;

  .right-Column-div {
    background-color: #fff !important;
    border-radius: 10px;
    box-shadow: 0px 2px 6px #00000033;

    .form-row {
      padding: 20px;

      .form-col {
        padding-left: 20px;
        .cancel-Button-div {
          align-items: right;
        .cancel-Button {
          width: 200px;
          height: 48px;
          font-weight: 600;
          font-size: 15px;
          position: absolute;
        }
        @media (max-width: 768px) {
          .cancel-Button {
            width: 75%;
          }
        }
      }
      .ant-select-selector {
        background: #f2f2f2;
        height: 48px;
      }
      .submit-Button-div{
        padding-top: 10%;
        align-items: right;
        .submit-Button {
          width: 200px;
          height: 48px;
          background-color: #570026;
          color: white;
          position: absolute;
          right: 0;
          transform: translateY(-50%);
        }
        @media (max-width: 768px) {
          .submit-Button {
            width: 75%;
          }
        }
      }
      .form-item-select {
        margin-bottom: 0px;

        label {
          font-size: 14px;
          color: #222222;
          font-weight: 600;
          opacity: 0.7;
          border: none !important;
        }
        Select {
          height: 48px;
        }
        input {
          font-size: 14px;
          color: #222222;
          font-weight: 600;
          opacity: 1;
          height: 48px;
          background: #F2F2F2;
          border-radius: 5px !important;
          // margin-bottom: 10px !important;
          border: none !important;
        }
        .error {
          color: red;
        }
      }
      
        .form-item {
          margin-bottom: 0px;

          label {
            font-size: 14px;
            color: #222222;
            font-weight: 600;
            opacity: 0.7;
            border: none !important;
          }
          .error {
            color: red;
          }

          input {
            font-size: 14px;
            color: #222222;
            font-weight: 600;
            opacity: 0.7;
            height: 48px;
            background: #F2F2F2;
            border-radius: 5px;
            margin-bottom: 10px !important;
            border: none !important;
            margin-top: -8px;
          }
        }
      }
    }
  }
}
.ant-select .ant-select-lg .ant-select-in-form-item, .ant-select-selector{
background-color: #8a1616;
height: 48px;
border: none !important;
margin-bottom: 10px !important;
}